<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 窗体背景颜色 -->
	<key>login_global_default_bg</key>
	<string>#ffffffff</string>
	<!-- 窗体框边框颜色 -->
	<key>login_global_default_border</key>
	<string>#ff000000</string>
	<!-- 按钮文字颜色 (例：选择区号按钮) -->
	<key>login_global_selection_button_fg</key>
	<string>#ff007aff</string>
	<!-- 输入框边框颜色 -->
	<key>login_global_textfield_border</key>
	<string>#ffdfdfdf</string>
	<!-- 输入框(UITextField)文字占位符颜色 -->
	<key>login_global_textfield_placeholder</key>
	<string>#ff808080</string>
	<!-- 按钮文字颜色 (例：注册按钮)-->
	<key>login_global_pushbutton_fg</key>
	<string>#ffffffff</string>
	<!-- 按钮背景颜色 (例：注册按钮)-->
	<key>login_global_pushbutton_bg</key>
	<string>#ff16ae2b</string>
	<key>send_bg_color_16ac2b</key>
	<string>#ff16ae2b</string>
	<!-- 授权协议 文字颜色 -->
	<key>login_terms_entry</key>
	<string>#ff808080</string>
	<!-- 选择区号页面底部按钮文字颜色 -->
	<key>login_regionlist_title</key>
	<string>#ff595959</string>
	<!-- 选择区号页面底部按钮背景颜色 -->
	<key>login_regionlist_title_bg</key>
	<string>#fff0f0f0</string>
	<!-- 全屏遮罩颜色 -->
	<key>blank_bg_color</key>
	<string>#99000000</string>
	<!-- 页面标题文字颜色 -->
	<key>fontcolor_black</key>
	<string>#ff000000</string>
	<!-- 分割线的颜色 -->
	<key>line_color</key>
	<string>#ffe4e4e4</string>
	<!-- 登陆首页分割线的颜色 -->
	<key>login_loginview_sepline</key>
	<string>#ffc0c0c0</string>
	<!-- 登陆首页分割线上文字的颜色 -->
	<key>login_loginview_sepline_title</key>
	<string>#ff999999</string>
	<key>reply_title_nickname_fontcolor</key>
	<string>#ff007aff</string>
	<!-- 性别选择页面中取消按钮背景色 -->
	<key>cancel_btn_color</key>
	<string>#ff8f8f8f</string>
	<!-- 性别选择页面中 文字颜色 -->
	<key>fontcolor_white</key>
	<string>#ffffffff</string>
</dict>
</plist>
