<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tencent.tmgp.hdnfate"
      android:versionCode="5"
      android:versionName="1.1"
      android:installLocation="auto">

    <uses-sdk android:minSdkVersion="9"/>
    <uses-feature android:glEsVersion="0x00020000" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:name="com.hdngame.fate.MixApplication">

        <!-- Tell NativeActivity the name of our .so -->
        <meta-data android:name="android.app.lib_name" android:value="cocos2djs" />

        <activity android:name="org.cocos2dx.javascript.AppActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- KTPlay SDK配置开始 -->
        <activity
                android:name="com.ktplay.activity.GetPhotoActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:screenOrientation="user"
                android:theme="@android:style/Theme.Translucent"
                android:windowSoftInputMode="adjustPan|adjustUnspecified" >
        </activity>

        <meta-data
                android:name="KTPLAY_CHANNELID"
                android:value="GP"
                />
        <!-- KTPlay SDK配置结束 -->

        <!-- and game start -->
        <activity android:name="cn.cmgame.billing.api.GameOpenActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="sensor">
        </activity>
        <!-- and game end -->

        <!-- unipay start -->
        <meta-data android:name="wostore_billing_otherpay" android:value="false"/>
        <meta-data android:name="wostore_billing_chinaunicom" android:value="true"/>
        <meta-data android:name="wostore_billing_chinamobile"  android:value="false" />
        <meta-data android:name="wostore_billing_chinatele"  android:value="false" />

        <service android:name="com.unicom.wostore.unipay.paysecurity.SecurityServiceFramework">
            <intent-filter>
                <action android:name="com.tencent.tmgp.hdnfate.unicom.wostore.unipay.securityserviceframework" />
            </intent-filter>
        </service>

        <activity
                android:name="com.unicom.dcLoader.welcomeview"
                android:label="@string/app_name"
                android:screenOrientation="sensor"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:configChanges="keyboardHidden|screenSize|navigation|orientation"
                >

            <meta-data android:name="UNICOM_DIST_ACTIVITY" android:value="org.cocos2dx.javascript.AppActivity"/>
        </activity>
        <!-- unipay end -->

        <!-- egame start -->
        <activity
                android:name="cn.egame.terminal.paysdk.EgamePayActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                android:screenOrientation="landscape"
                android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity
                android:name="cn.play.dserv.EmpActivity"
                android:configChanges="keyboard|keyboardHidden|orientation"
                android:exported="true" />
        <service
                android:name="cn.play.dserv.DService"
                android:enabled="true"
                android:exported="false"
                android:label="dservice"
                android:process=":dservice_v1" />
        <receiver
                android:name="cn.play.dserv.DsReceiver"
                android:process=":dservice_v1" >
            <intent-filter>
                <action android:name="cn.play.dservice" />
            </intent-filter>
        </receiver>
        <meta-data android:name="EGAME_CHANNEL" android:value="80010226"  />
        <meta-data android:name="EGAME_UNINS" android:value="false" />
        <!-- egame end -->

        <!-- qq start -->
        <activity
                android:name="com.tencent.midas.proxyactivity.APMidasPayProxyActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="landscape" />
        <activity
                android:name="com.tencent.midas.wx.APMidasWXPayActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:exported="true" />
        <activity
                android:name="com.tencent.midas.qq.APMidasQQWalletActivity"
                android:launchMode="singleTop"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="orientation|keyboardHidden"
                android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="qwallet100703379"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.midas.jsbridge.APWebJSBridgeActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- qq end -->

        <!-- umeng online config start -->
        <meta-data android:name="UMENG_APPKEY" android:value="5630df2467e58e7fda00055e" />
        <meta-data android:name="UMENG_CHANNEL" android:value="tencent_llq" />
        <!-- umeng online config end -->
    </application>

    <supports-screens android:anyDensity="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"/>
					  
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- QQ -->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!--<uses-permission android:name="android.permission.SEND_SMS"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->

</manifest> 
