<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>settingchat</key>
	<array>
		<dict>
			<key>baseinfo</key>
			<string>Basic Info</string>
			<key>title</key>
			<string>Basic Info</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>icon</key>
					<string>defaulthead.png</string>
					<key>title</key>
					<string>Profile Photo</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>Username</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>Gender</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>safeinfo</key>
			<string>Security Settings</string>
			<key>title</key>
			<string>Security Settings</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>3</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>Email</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>4</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>Password</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string> </string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>6</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>屏蔽列表</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>settinginfo</key>
			<string>Settings</string>
			<key>title</key>
			<string>Settings</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>5</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>Notifications</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>7</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>隐私协议和政策条款</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
