<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hdngame.fate.mm"
      android:versionCode="4"
      android:versionName="1.1"
      android:installLocation="auto">

    <uses-sdk android:minSdkVersion="9"/>
    <uses-feature android:glEsVersion="0x00020000" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:name="com.hdngame.fate.mm.MmApplication">

        <!-- Tell NativeActivity the name of our .so -->
        <meta-data android:name="android.app.lib_name" android:value="cocos2djs" />

        <activity android:name="com.hdngame.fate.SplashActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.cocos2dx.javascript.AppActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation">

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- mm start -->
        <service
                android:name="mm.purchasesdk.iapservice.PurchaseService"
                android:exported="true" >

            <!-- android:process="mm.iapServices" > -->
            <intent-filter android:priority="313" >
                <action android:name="com.hdngame.fate.mm.purchaseservice.BIND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <!-- android:excludeFromRecents="true" -->
        <!-- android:launchMode="singleInstance" -->
        <activity
                android:name="mm.purchasesdk.iapservice.BillingLayoutActivity"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@android:style/Theme.Translucent" >
            <intent-filter android:priority="313" >
                <action android:name="com.hdngame.fate.mm.com.mmiap.activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- android:process="safiap.framework.safframeworkmanager" begin -->
        <service
                android:name="safiap.framework.SafFrameworkManager"
                android:exported="true"
                android:process="safiap.framework" >
            <intent-filter android:priority="633" >

                <!-- ID for services declared in AIDL -->
                <action android:name="safiap.framework.sdk.ISAFFramework" />
            </intent-filter>
            <intent-filter android:priority="633" >

                <!-- ID for services declared in AIDL -->
                <action android:name="safiap.framework.ACTION_START_DOWNLOAD" />
            </intent-filter>
            <intent-filter android:priority="633" >

                <!-- ID for services declared in AIDL -->
                <action android:name="safiap.framework.ACTION_CHECK_UPDATE" />
            </intent-filter>
        </service>
        <!-- receivers -->
        <receiver android:name="safiap.framework.CheckUpdateReceiver" >
            <intent-filter>
                <action android:name="safiap.framework.ACTION_CANCEL_NOTIFICATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="safiap.GET_SHARED_DATA" />
            </intent-filter>
            <intent-filter>
                <action android:name="safiap.framework.ACTION_SET_TIMER" />
            </intent-filter>
        </receiver>

        <activity
                android:name="safiap.framework.ui.UpdateHintActivity"
                android:configChanges="orientation"
                android:excludeFromRecents="true"
                android:launchMode="singleInstance"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="safiap.framework.ACTION_TO_INSTALL" />
            </intent-filter>
            <intent-filter>
                <action android:name="safiap.framework.ACTION_TO_INSTALL_IAP" />
            </intent-filter>
            <intent-filter>
                <action android:name="safiap.framework.ACTION_NETWORK_ERROR_IAP" />
            </intent-filter>
            <intent-filter>
                <action android:name="safiap.framework.ACTION_NETWORK_ERROR_FRAMEWORK" />
            </intent-filter>
        </activity>

        <service
                android:name="safiap.framework.logreport.monitor.handler.LogreportHandler"
                android:process=":remote" />
        <!-- android:process="safiap.framework.safframeworkmanager" end -->
        <!-- mm end -->

        <!-- KTPlay SDK配置开始 -->
        <activity
                android:name="com.ktplay.activity.GetPhotoActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:screenOrientation="user"
                android:theme="@android:style/Theme.Translucent"
                android:windowSoftInputMode="adjustPan|adjustUnspecified" >
        </activity>
        <meta-data android:name="KTPLAY_CHANNELID" android:value="GP" />
        <!-- KTPlay SDK配置结束 -->

        <!-- umeng online config start -->
        <meta-data android:name="UMENG_APPKEY" android:value="5630df2467e58e7fda00055e" />
        <meta-data android:name="UMENG_CHANNEL" android:value="cmcc_mm" />
        <!-- umeng online config end -->

    </application>

    <supports-screens android:anyDensity="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"/>
					  
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>  
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>  
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>  
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>  
    
  	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--talking data-->
 	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
 	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
 	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
 	<uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- KTPlay SDK 权限配置开始 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- KTPlay SDK 权限配置结束 -->
</manifest>
