<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lg_segment_line_color</key>
	<string>#ffcccccc</string>
	<key>friend_topic_replyLabel_clolor</key>
	<string>#ff595959</string>
	<key>add_screenshot_btn_fontcolor</key>
	<string>#ff6b6b6b</string>
	<key>reply_cell_content_bgcolor</key>
	<string>#fff7f5ee</string>
	<key>screenshot_time_fontcolor</key>
	<string>#ff999999</string>
	<key>discussion_time_fontcolor</key>
	<string>#ff9ec7c7</string>
	<key>head_splite_line_color</key>
	<string>#ffe5e5e5</string>
	<key>userpic_label_fontcolor</key>
	<string>#ffdedede</string>
	<key>register_btn_bg_color</key>
	<string>#ff23ab33</string>
	<key>sheet_bg_color</key>
	<string>#fff4f4f4</string>
	<key>discussion_topicmenu_blue_color</key>
	<string>#ff3ab000</string>
	<key>cancel_btn_color</key>
	<string>#ff8f8f8f</string>
	<key>profile_emptycontent_fontcolor</key>
	<string>#ffcccccc</string>
	<key>container_head_fontcolor</key>
	<string>#ff6b6b6b</string>
	<key>profile_segment_normal_fontcolor</key>
	<string>#ff6c6c6c</string>
	<key>login_register_textcolor</key>
	<string>#ff7d7d7d</string>
	<key>forgetpwd_bg_color</key>
	<string>#fff3f3f3</string>
	<key>bgcolor_independence_trunk</key>
	<string>#fff3f3f3</string>
	<key>independence_line_color</key>
	<string>#ffcccccc</string>
	<key>profile_like_btn_bg_color</key>
	<string>#ffd50915</string>
	<key>profile_like_touch_bg_color</key>
	<string>#ffde9815</string>
	<key>profile_screenshot_btn_bg_color</key>
	<string>#ff8a4890</string>
	<key>profile_discussion_btn_bg_color</key>
	<string>#ff1278c7</string>
	<key>piccomment_label_fontcolor</key>
	<string>#ff999999</string>
	<key>mainpage_discussion_nickname_fontcolor</key>
	<string>#ffc0c0c0</string>
	<key>discussion_topic_normalcancel_color</key>
	<string>#ffe6e6e6</string>
	<key>discussion_topic_normalcancel_touchcolor</key>
	<string>#ffcccccc</string>
	<key>profile_address_fontcolor</key>
	<string>#ff999999</string>
	<key>setting_fontcolor</key>
	<string>#ff6b6b6b</string>
	<key>profile_head_bg_color</key>
	<string>#ff2d3e45</string>
	<key>profile_head_location_color</key>
	<string>#ff788d94</string>
	<key>line_color</key>
	<string>#ffe4e4e4</string>
	<key>chat_friends_announce_timecolor</key>
	<string>#ffac8d06</string>
	<key>chat_friends_announce_contentcolor</key>
	<string>#ff9e8306</string>
	<key>chat_friends_announce_bgcolor</key>
	<string>#fffff809</string>
	<key>chat_input_bar_bg_color</key>
	<string>#ffd9d9d9</string>
	<key>bottom_btn_touch_bg_color</key>
	<string>#ff217fa8</string>
	<key>bottom_btn_bg_color</key>
	<string>#ff269dd0</string>
	<key>bottom_btn_registerorlogin_color</key>
	<string>#16ae2b</string>
	<key>tableview_bg_color</key>
	<string>#ff2f2f2f</string>
	<key>reward_btn_bg_color</key>
	<string>#ffd50915</string>
	<key>nav_btn_fontcolor</key>
	<string>#ffe5e5e5</string>
	<key>reward_get_btn_bg_color</key>
	<string>#2c000000</string>
	<key>otheruserlike_cell_content_fontcolor</key>
	<string>#ff999999</string>
	<key>discussion_promotion_cell_pic_bgcolor</key>
	<string>#ffdadada</string>
	<key>screenshot_imglist_maskcolor</key>
	<string>#fff0f0f0</string>
	<key>login_button_fontcolor</key>
	<string>#ff333333</string>
	<key>login_yplogin_blue_color</key>
	<string>#ff1b9738</string>
	<key>login_yplogin_blue_touch_color</key>
	<string>#ff1b8238</string>
	<key>user_playertip_fontcolor</key>
	<string>#ff666666</string>
	<key>discussion_replycount_fontcolor</key>
	<string>#ff999999</string>
	<key>discussion_nickname_fontcolor</key>
	<string>#ff9ec7c7</string>
	<key>player_address_fontcolor</key>
	<string>#ff999999</string>
	<key>search_backgound_color</key>
	<string>#fff3f3f3</string>
	<key>mydiscussion_time_fontcolor</key>
	<string>#ff999999</string>
	<key>reply_content_fontcolor</key>
	<string>#ff999999</string>
	<key>otheruserlike_cell_time_fontcolor</key>
	<string>#ff999999</string>
	<key>discussion_promotion_cell_title_fontcolor</key>
	<string>#ff999999</string>
	<key>userpic_time_fontcolor</key>
	<string>#ffdedede</string>
	<key>storeview_cell_content_fontcolor</key>
	<string>#ff999999</string>
	<key>mainpage_discussion_container_bordercolor</key>
	<string>#ffbebebe</string>
	<key>reply_title_nickname_fontcolor</key>
	<string>#ff367164</string>
	<key>font_color_8a9ea5</key>
	<string>#ff8a9ea5</string>
	<key>font_color_787878</key>
	<string>#ff787878</string>
	<key>cell_bg_color_fff600</key>
	<string>#fffff600</string>
	<key>send_bg_color_16ac2b</key>
	<string>#ff16ac2b</string>
	<key>independence_fontcolor_1881fa</key>
	<string>#ff1881fa</string>
	<key>independence_btn_16ae2b</key>
	<string>#ff16ae2b</string>
	<key>send_bg_color_touch_16ac2b</key>
	<string>#ff168c2b</string>
	<key>section_bg_color_f1f1f1</key>
	<string>#fff1f1f1</string>
	<key>cell_text_color_8e8e8e</key>
	<string>#ff8e8e8e</string>
	<key>player_refresh_fontcolor</key>
	<string>#ffcccccc</string>
	<key>fontcolor_white</key>
	<string>#ffffffff</string>
	<key>fontcolor_c0c0c0</key>
	<string>#ffc0c0c0</string>
	<key>fontcolor_74d44b</key>
	<string>#74d44b</string>
	<key>fontcolor_black</key>
	<string>#ff000000</string>
	<key>screenshot_nickname_fontcolor</key>
	<string>#ff999999</string>
	<key>cell_images_bgcolor</key>
	<string>#fff0f0f0</string>
	<key>mainpage_discussion_container_bgcolor</key>
	<string>#ff505050</string>
	<key>setting_normalbtn_fontcolor</key>
	<string>#ff6b6b6b</string>
	<key>login_forgetpwd_button_fontcolor</key>
	<string>#ff333333</string>
	<key>mainpage_discussion_time_fontcolor</key>
	<string>#ffc0c0c0</string>
	<key>setting_btn_fontcolor</key>
	<string>#ff6b6b6b</string>
	<key>input_tableview_bg_color</key>
	<string>#ff1b1b1b</string>
	<key>friend_import_sectioncolor</key>
	<string>#ffcccccc</string>
	<key>setting_section_head_bg_color</key>
	<string>#ffcbcac8</string>
	<key>friend_request_cell_bg_color</key>
	<string>#fffffac8</string>
	<key>leaderboard_rankname_fontcolor</key>
	<string>#ffffffff</string>
	<key>leaderboard_nickname_fontcolor</key>
	<string>#ffffffff</string>
	<key>leaderboard_selfname_fontcolor</key>
	<string>#ffffffff</string>
	<key>leaderboard_otherfriends_cell_bgcolor</key>
	<string>#ff10385a</string>
	<key>leaderboard_self_cell_bgcolor</key>
	<string>#ff0c2941</string>
	<key>leaderboard_boardname_fontcolor</key>
	<string>#ffffffff</string>
	<key>leaderboard_board_splitline_color</key>
	<string>#ff000000</string>
	<key>leaderboard_score_fontcolor</key>
	<string>#ff000000</string>
	<key>leaderboard_myscore_fontcolor</key>
	<string>#ff000000</string>
	<key>leaderboard_zeroscore_fontcolor</key>
	<string>#ff000000</string>
	<key>leaderboard_boardbar_bgcolor</key>
	<string>ff10385a</string>
	<key>leaderboard_row_splitline_color</key>
	<string>#ff646464</string>
	<key>leaderboard_section_backgroundcolor</key>
	<string>#ff646464</string>
	<key>leaderboard_section_titlecolor</key>
	<string>#ffe5e5e5</string>
	<key>leaderboard_viewborder_color</key>
	<string>#ffffffff</string>
	<key>noti_view_bg_color</key>
	<string>#e50d0d0d</string>
	<key>strongnoti_content_color</key>
	<string>#ffc0c0c0</string>
	<key>profile_top_bg_color</key>
	<string>#ffdddddd</string>
	<key>profile_friends_btn_bg_color</key>
	<string>#ff40b920</string>
	<key>profile_friends_btn_bg_touch_color</key>
	<string>#ff40a920</string>
	<key>blank_bg_color</key>
	<string>#99000000</string>
	<key>alert_cancel_btn_bg_color</key>
	<string>#fff4f4f4</string>
	<key>bg_number_color</key>
	<string>#ff646464</string>
	<key>textfield_bg_color</key>
	<string>#ff5e5e5e</string>
	<key>report_btn_bg_color</key>
	<string>#ff171717</string>
	<key>white_btn_bg_color</key>
	<string>#ffffffff</string>
	<key>white_btn_bg_touch_color</key>
	<string>#ffdddddd</string>
	<key>chatWithFrends_tip_color</key>
	<string>#ff333333</string>
	<key>chatWithFrendsButton_color</key>
	<string>#ffff3b30</string>
	<key>blackusersButton_color</key>
	<string>#ff213942</string>
	<key>logou_bottomBtn_color</key>
	<string>#ffff3b30</string>
	<key>complete_set_color</key>
	<string>#ffff0000</string>
	<key>profile_nickname_color</key>
	<string>#ff7d96a0</string>
	<key>login_global_default_bg</key>
	<string>#ffffffff</string>
	<key>login_global_default_border</key>
	<string>#ff000000</string>
	<key>login_global_selection_button_fg</key>
	<string>#ff007aff</string>
	<key>login_global_textfield_border</key>
	<string>#ffdfdfdf</string>
	<key>login_global_textfield_placeholder</key>
	<string>#ff808080</string>
	<key>login_global_pushbutton_fg</key>
	<string>#ffffffff</string>
	<key>login_global_pushbutton_bg</key>
	<string>#ff16ae2b</string>
	<key>login_global_pushbutton_fg_disable</key>
	<string>#ffc0c0c0</string>
	<key>login_global_pushbutton_bg_disable</key>
	<string>#ffdfdfdf</string>
	<key>login_terms_entry</key>
	<string>#ff808080</string>
	<key>login_regionlist_title</key>
	<string>#ff595959</string>
	<key>login_regionlist_title_bg</key>
	<string>#fff0f0f0</string>
	<key>login_loginview_sepline</key>
	<string>#ffc0c0c0</string>
	<key>login_loginview_sepline_title</key>
	<string>#ff999999</string>
	<key>chat_listview_cell_detail_color</key>
	<string>#ff666666</string>
	<key>chat_listview_cell_time_color</key>
	<string>#ff999999</string>
	<key>default_image_color</key>
	<string>#ffe9e9e9</string>
</dict>
</plist>
