<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>glb_container_width</key>
	<integer>520</integer>
	<key>glb_container_height</key>
	<integer>550</integer>
	<key>rg_usr_2phone_height</key>
	<integer>24</integer>
	<key>rg_usr_item_height</key>
	<integer>20</integer>
	<key>rg_usr_button_height</key>
	<integer>62</integer>
	<key>rg_usr_textfield_height</key>
	<integer>54</integer>
	<key>rg_usr_main_height</key>
	<integer>386</integer>
	<key>rg_usr_main_width</key>
	<integer>476</integer>
	<key>lg_button_height</key>
	<integer>62</integer>
	<key>lg_11_text_height</key>
	<integer>23</integer>
	<key>lg_logo_height</key>
	<integer>30</integer>
	<key>lg_hasAccount_height</key>
	<integer>26</integer>
	<key>lg_registration_height</key>
	<integer>148</integer>
	<key>lg_sns_height</key>
	<integer>172</integer>
	<key>lg_trademarks_height</key>
	<integer>114</integer>
	<key>lg_main_height</key>
	<integer>460</integer>
	<key>lg_main_width</key>
	<integer>470</integer>
	<key>maincontainer_width</key>
	<integer>520</integer>
	<key>maincontainer_height</key>
	<integer>550</integer>
	<key>maincontainer_nav_hegiht</key>
	<integer>72</integer>
	<key>maincontainer_nav_horizontal_space</key>
	<integer>12</integer>
	<key>nav_btn_width</key>
	<integer>96</integer>
	<key>nav_btn_height</key>
	<integer>52</integer>
	<key>nav_backbtn_width</key>
	<integer>16</integer>
	<key>nav_backbtn_height</key>
	<integer>24</integer>
	<key>container_bg_default_width</key>
	<integer>520</integer>
	<key>container_bg_nogamelogo_height</key>
	<integer>430</integer>
	<key>container_view_corner_radius</key>
	<integer>0</integer>
	<key>content_left_margin</key>
	<integer>24</integer>
	<key>content_top_margin</key>
	<integer>20</integer>
	<key>content_right_margin</key>
	<integer>24</integer>
	<key>button_intextfield_right_margin</key>
	<integer>16</integer>
	<key>textfield_between_vertical</key>
	<integer>10</integer>
	<key>btn_ontextfield_right_margin</key>
	<integer>16</integer>
	<key>textfield_btn_between_vertical</key>
	<integer>16</integer>
	<key>inputcontent_intextfield_left_margin</key>
	<integer>10</integer>
	<key>ktlogo_btn_between_vertical</key>
	<integer>30</integer>
	<key>registerbtn_arrow_between_ horizontal</key>
	<integer>12</integer>
	<key>ktlogo_line_between_vertical</key>
	<integer>30</integer>
	<key>seprate_line_height</key>
	<integer>1</integer>
	<key>seprate_line_width</key>
	<integer>472</integer>
	<key>snslogo_line_vertical</key>
	<integer>20</integer>
	<key>ktservice_regbtn_between_vertical</key>
	<integer>30</integer>
	<key>ktlogo_ktservice_between_vertical</key>
	<integer>30</integer>
	<key>infotextview_width</key>
	<integer>480</integer>
	<key>infotextview_height</key>
	<integer>310</integer>
	<key>infotextview_corner_radius</key>
	<integer>6</integer>
	<key>bind_email_line_height</key>
	<integer>62</integer>
	<key>bind_email_intextfield_between_vertical</key>
	<integer>10</integer>
	<key>login_global_container_width</key>
	<integer>520</integer>
	<key>login_global_container_height</key>
	<integer>550</integer>
	<key>login_global_cornerradius</key>
	<integer>4</integer>
	<key>login_global_borderwidth</key>
	<integer>2</integer>
	<key>login_global_contenttop</key>
	<integer>118</integer>
	<key>login_global_contentbottom</key>
	<integer>496</integer>
	<key>login_global_contentwidth</key>
	<integer>476</integer>
	<key>login_global_textfieldheight</key>
	<integer>54</integer>
	<key>login_global_textfieldpadding</key>
	<integer>12</integer>
	<key>login_global_pushbuttonheight</key>
	<integer>62</integer>
	<key>login_global_spacesmallvertical</key>
	<integer>12</integer>
	<key>login_global_spacesmallhorizontal</key>
	<integer>12</integer>
	<key>login_global_spacebighorizontal</key>
	<integer>20</integer>
	<key>login_registerbycell_regionwidth</key>
	<integer>114</integer>
	<key>login_registerbycell_captchbtnwidth</key>
	<integer>176</integer>
	<key>login_regionlist_height</key>
	<integer>386</integer>
	<key>login_regionlist_title_height</key>
	<integer>40</integer>
	<key>login_regionlist_item_height</key>
	<integer>72</integer>
	<key>login_regionlist_cancel_width</key>
	<integer>368</integer>
	<key>login_regionlist_cancel_height</key>
	<integer>62</integer>
	<key>container_border_width</key>
	<integer>2</integer>
	<key>container_corner_radius</key>
	<integer>12</integer>
</dict>
</plist>
