<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainpage_discussion_time_font</key>
	<integer>12</integer>
	<key>mainpage_discussion_nickname_font</key>
	<integer>12</integer>
	<key>s_yp_use_email_login_font</key>
	<integer>16</integer>
	<key>s_yp_wifi_downpic_font</key>
	<integer>12</integer>
	<key>mainpage_discussion_content_font</key>
	<dict>
		<key>size</key>
		<integer>15</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>mainpage_screenshot_description_font</key>
	<dict>
		<key>size</key>
		<integer>12</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>mainpage_discussion_tiplabel_font</key>
	<dict>
		<key>size</key>
		<integer>12</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>mainpage_discussion_title_font</key>
	<integer>13</integer>
	<key>discussion_toplabel_font</key>
	<integer>13</integer>
	<key>discussion_nickname_font</key>
	<integer>11</integer>
	<key>discussion_time_font</key>
	<integer>11</integer>
	<key>discussion_content_font</key>
	<dict>
		<key>size</key>
		<integer>15</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>discussion_replycount_font</key>
	<integer>11</integer>
	<key>font_phone_18</key>
	<integer>16</integer>
	<key>discussion_limitlabel_font</key>
	<integer>12</integer>
	<key>reply_nickName_font</key>
	<integer>13</integer>
	<key>reply_time_font</key>
	<integer>13</integer>
	<key>reply_content_font</key>
	<dict>
		<key>size</key>
		<integer>15</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>reply_like_font</key>
	<integer>18</integer>
	<key>reply_limitlabel_font</key>
	<integer>12</integer>
	<key>player_nickname_font</key>
	<integer>13</integer>
	<key>player_address_font</key>
	<integer>13</integer>
	<key>player_refresh_font</key>
	<integer>11</integer>
	<key>font_phone_13</key>
	<integer>13</integer>
	<key>font_phone_21</key>
	<integer>21</integer>
	<key>font_phone_bold_14</key>
	<dict>
		<key>size</key>
		<integer>14</integer>
		<key>bold</key>
		<true/>
	</dict>
	<key>blackusers_cell_btn_font</key>
	<dict>
		<key>size</key>
		<integer>14</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>font_phone_14</key>
	<integer>14</integer>
	<key>font_phone_12</key>
	<integer>12</integer>
	<key>player_toplabel_font</key>
	<integer>13</integer>
	<key>profile_nickName_font</key>
	<dict>
		<key>size</key>
		<integer>22</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>profile_address_font</key>
	<dict>
		<key>size</key>
		<integer>14</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>profile_postcount_font</key>
	<dict>
		<key>size</key>
		<integer>20</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>profile_posttip_font</key>
	<dict>
		<key>size</key>
		<integer>12</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>profile_playingtip_font</key>
	<dict>
		<key>size</key>
		<integer>14</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>profile_gamename_font</key>
	<integer>8</integer>
	<key>profile_likecount_font</key>
	<dict>
		<key>size</key>
		<integer>11</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>screenshot_nickname_font</key>
	<integer>12</integer>
	<key>screenshot_time_font</key>
	<integer>12</integer>
	<key>screenshot_commment_font</key>
	<integer>15</integer>
	<key>screenshot_bottombtn_font</key>
	<integer>18</integer>
	<key>screenshot_btn_font</key>
	<integer>12</integer>
	<key>piccomment_label_font</key>
	<integer>12</integer>
	<key>piccomment_description_font</key>
	<integer>14</integer>
	<key>piccomment_cell_label_font</key>
	<integer>12</integer>
	<key>piccomment_cell_content_font</key>
	<integer>12</integer>
	<key>piccomment_cell_btn_font</key>
	<integer>10</integer>
	<key>writepiccomment_limitlabel_font</key>
	<integer>12</integer>
	<key>photoview_comment_font</key>
	<integer>16</integer>
	<key>photoview_btntitle_font</key>
	<integer>10</integer>
	<key>photoview_nickname_font</key>
	<integer>12</integer>
	<key>photoview_time_font</key>
	<integer>12</integer>
	<key>font_phone12_pad20</key>
	<integer>12</integer>
	<key>imageadd_description_font</key>
	<integer>18</integer>
	<key>textfield_font</key>
	<integer>18</integer>
	<key>inputfiled_description_font</key>
	<integer>14</integer>
	<key>login_button_font</key>
	<integer>18</integer>
	<key>login_forgetpwd_button_font</key>
	<integer>12</integer>
	<key>login_yplogin_label_font</key>
	<integer>14</integer>
	<key>login_yptitle_label_font</key>
	<integer>19</integer>
	<key>login_sns_button_font</key>
	<integer>18</integer>
	<key>inputfiled_text_font</key>
	<integer>20</integer>
	<key>inputfiled_tiptext_font</key>
	<dict>
		<key>size</key>
		<integer>22</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>post_text_font</key>
	<integer>18</integer>
	<key>nav_btn_font</key>
	<integer>18</integer>
	<key>clear_msgbtn_font</key>
	<dict>
		<key>size</key>
		<integer>10</integer>
		<key>bold</key>
		<true/>
	</dict>
	<key>selectphoto_btn_font</key>
	<integer>18</integer>
	<key>setting_font</key>
	<integer>16</integer>
	<key>appsetore_alert_font</key>
	<integer>16</integer>
	<key>reply_title_content_font</key>
	<integer>15</integer>
	<key>setting_btn_font</key>
	<integer>16</integer>
	<key>account_tip_font</key>
	<integer>14</integer>
	<key>reply_likecount_font</key>
	<integer>10</integer>
	<key>add_screenshot_btn_font</key>
	<integer>13</integer>
	<key>font_phone18_pad28</key>
	<integer>18</integer>
	<key>userpic_time_font</key>
	<integer>12</integer>
	<key>userpic_label_font</key>
	<integer>12</integer>
	<key>setting_normalbtn_font</key>
	<integer>12</integer>
	<key>mydiscussion_time_font</key>
	<integer>13</integer>
	<key>mydiscussion_content_font</key>
	<dict>
		<key>size</key>
		<integer>15</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>otheruserlike_cell_nickname_font</key>
	<dict>
		<key>size</key>
		<integer>14</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>otheruserlike_cell_content_font</key>
	<dict>
		<key>size</key>
		<integer>12</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>otheruserlike_cell_time_font</key>
	<integer>11</integer>
	<key>mainpage_playercount_font</key>
	<dict>
		<key>size</key>
		<integer>16</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>delreportbtn_font</key>
	<integer>10</integer>
	<key>reply_cell_delbtn_font</key>
	<integer>10</integer>
	<key>reply_title_nickname_font</key>
	<integer>13</integer>
	<key>reply_title_time_font</key>
	<integer>13</integer>
	<key>photoAlbum_row_font</key>
	<integer>14</integer>
	<key>setting_exitbtn_font</key>
	<integer>18</integer>
	<key>profile_emptycontent_font</key>
	<integer>14</integer>
	<key>profile_segment_font</key>
	<integer>14</integer>
	<key>user_cell_like_font</key>
	<integer>11</integer>
	<key>user_cell_nickname_font</key>
	<integer>11</integer>
	<key>storeview_cell_title_font</key>
	<dict>
		<key>size</key>
		<integer>16</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>storeview_cell_content_font</key>
	<integer>14</integer>
	<key>discussion_promotion_cell_title_font</key>
	<integer>13</integer>
	<key>discussion_promotion_cell_content_font</key>
	<dict>
		<key>size</key>
		<integer>14</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>notification_title_font</key>
	<dict>
		<key>size</key>
		<integer>16</integer>
		<key>bold</key>
		<true/>
	</dict>
	<key>font_phone_bold_12</key>
	<dict>
		<key>size</key>
		<integer>12</integer>
		<key>bold</key>
		<true/>
	</dict>
	<key>notificationcell_content_font</key>
	<dict>
		<key>size</key>
		<integer>15</integer>
		<key>bold</key>
		<string>NO</string>
	</dict>
	<key>notificationcell_title_font</key>
	<dict>
		<key>size</key>
		<integer>15</integer>
		<key>bold</key>
		<string>YES</string>
	</dict>
	<key>notificationcell_ctime_font</key>
	<dict>
		<key>size</key>
		<integer>13</integer>
		<key>bold</key>
		<string>YES</string>
	</dict>
	<key>font_phone_20</key>
	<integer>20</integer>
	<key>font_phone_16</key>
	<integer>16</integer>
	<key>font_phone_bold_15</key>
	<dict>
		<key>size</key>
		<integer>15</integer>
		<key>bold</key>
		<true/>
	</dict>
	<key>leaderBoard_rank_cell_score_font</key>
	<dict>
		<key>size</key>
		<integer>16</integer>
		<key>bold</key>
		<true/>
	</dict>
	<key>leaderBoard_rank_cell_myscore_font</key>
	<dict>
		<key>size</key>
		<integer>16</integer>
		<key>bold</key>
		<true/>
	</dict>
	<key>leaderBoard_rank_cell_zeroscore_font</key>
	<dict>
		<key>size</key>
		<integer>11</integer>
		<key>bold</key>
		<true/>
	</dict>
	<key>font_phone_10</key>
	<integer>10</integer>
	<key>font_phone_bold_13</key>
	<dict>
		<key>size</key>
		<integer>13</integer>
		<key>bold</key>
		<true/>
	</dict>
	<key>font_phone_15</key>
	<integer>15</integer>
	<key>leaderBoard_rank_cell_nameLabel_font</key>
	<dict>
		<key>size</key>
		<integer>12</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>leaderBoard_rank_cell_rankLabel_font</key>
	<dict>
		<key>size</key>
		<integer>24</integer>
		<key>bold</key>
		<true/>
	</dict>
	<key>leaderBoard_invite_cell_nameLabel_font</key>
	<dict>
		<key>size</key>
		<integer>14</integer>
		<key>bold</key>
		<false/>
	</dict>
	<key>font_phone_17</key>
	<integer>17</integer>
	<key>font_phone_bold_16</key>
	<dict>
		<key>size</key>
		<integer>16</integer>
		<key>bold</key>
		<true/>
	</dict>
	<key>friend_request_cell_content_font</key>
	<integer>14</integer>
	<key>font_phone_11</key>
	<integer>11</integer>
	<key>leaderBoard_invite_section_font</key>
	<dict>
		<key>size</key>
		<integer>14</integer>
		<key>bold</key>
		<true/>
	</dict>
	<key>font_phone_19</key>
	<integer>19</integer>
	<key>login_global_font_small</key>
	<integer>10</integer>
	<key>login_global_font_normal</key>
	<integer>12</integer>
	<key>login_global_font_big</key>
	<integer>14</integer>
</dict>
</plist>
