<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prop_category</key>
	<string>sns</string>
	<key>prop_region</key>
	<string>International</string>
	<key>prop_name</key>
	<string>facebook</string>
	<key>prop_version</key>
	<string>1.0.0</string>
	<key>prop_shareable_targets</key>
	<array>
		<string>facebook</string>
	</array>
	<key>prop_scheme</key>
	<string>fb</string>
	<key>test_appkeys</key>
	<array>
		<dict>
			<key>AppID</key>
			<string>597525060332590</string>
		</dict>
	</array>
	<key>prop_priority</key>
	<integer>20</integer>
</dict>
</plist>
