<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RegionList</key>
	<array>
		<dict>
			<key>Code</key>
			<string>+376</string>
			<key>Country</key>
			<string>安道尔</string>
			<key>CountryCode</key>
			<string>AD</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+43</string>
			<key>Country</key>
			<string>奥地利</string>
			<key>CountryCode</key>
			<string>AT</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+61</string>
			<key>Country</key>
			<string>澳大利亚</string>
			<key>CountryCode</key>
			<string>AU</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+355</string>
			<key>Country</key>
			<string>阿尔巴尼亚</string>
			<key>CountryCode</key>
			<string>AL</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+213</string>
			<key>Country</key>
			<string>阿尔及利亚</string>
			<key>CountryCode</key>
			<string>DZ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+353</string>
			<key>Country</key>
			<string>爱尔兰</string>
			<key>CountryCode</key>
			<string>IE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+93</string>
			<key>Country</key>
			<string>阿富汗</string>
			<key>CountryCode</key>
			<string>AF</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+244</string>
			<key>Country</key>
			<string>安哥拉</string>
			<key>CountryCode</key>
			<string>AO</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1264</string>
			<key>Country</key>
			<string>安圭拉</string>
			<key>CountryCode</key>
			<string>AI</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+54</string>
			<key>Country</key>
			<string>阿根廷</string>
			<key>CountryCode</key>
			<string>AR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+20</string>
			<key>Country</key>
			<string>埃及</string>
			<key>CountryCode</key>
			<string>EG</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+297</string>
			<key>Country</key>
			<string>阿鲁巴</string>
			<key>CountryCode</key>
			<string>AW</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+971</string>
			<key>Country</key>
			<string>阿拉伯联合酋长国</string>
			<key>CountryCode</key>
			<string>AE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+968</string>
			<key>Country</key>
			<string>阿曼</string>
			<key>CountryCode</key>
			<string>OM</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+994</string>
			<key>Country</key>
			<string>阿塞拜疆</string>
			<key>CountryCode</key>
			<string>AZ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+251</string>
			<key>Country</key>
			<string>埃塞俄比亚</string>
			<key>CountryCode</key>
			<string>ET</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+372</string>
			<key>Country</key>
			<string>爱沙尼亚</string>
			<key>CountryCode</key>
			<string>EE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1268</string>
			<key>Country</key>
			<string>安提瓜和巴布达</string>
			<key>CountryCode</key>
			<string>AG</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1246</string>
			<key>Country</key>
			<string>巴巴多斯</string>
			<key>CountryCode</key>
			<string>BB</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+675</string>
			<key>Country</key>
			<string>巴布亚新几内亚</string>
			<key>CountryCode</key>
			<string>PG</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+267</string>
			<key>Country</key>
			<string>博茨瓦纳</string>
			<key>CountryCode</key>
			<string>BW</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+354</string>
			<key>Country</key>
			<string>冰岛</string>
			<key>CountryCode</key>
			<string>IS</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+975</string>
			<key>Country</key>
			<string>不丹</string>
			<key>CountryCode</key>
			<string>BT</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1787</string>
			<key>Country</key>
			<string>波多黎各</string>
			<key>CountryCode</key>
			<string>PR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+375</string>
			<key>Country</key>
			<string>白俄罗斯</string>
			<key>CountryCode</key>
			<string>BY</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1242</string>
			<key>Country</key>
			<string>巴哈马</string>
			<key>CountryCode</key>
			<string>BS</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+359</string>
			<key>Country</key>
			<string>保加利亚</string>
			<key>CountryCode</key>
			<string>BG</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+226</string>
			<key>Country</key>
			<string>布基纳法索</string>
			<key>CountryCode</key>
			<string>BF</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+92</string>
			<key>Country</key>
			<string>巴基斯坦</string>
			<key>CountryCode</key>
			<string>PK</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+973</string>
			<key>Country</key>
			<string>巴林</string>
			<key>CountryCode</key>
			<string>BH</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+48</string>
			<key>Country</key>
			<string>波兰</string>
			<key>CountryCode</key>
			<string>PL</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+257</string>
			<key>Country</key>
			<string>布隆迪</string>
			<key>CountryCode</key>
			<string>BI</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+595</string>
			<key>Country</key>
			<string>巴拉圭</string>
			<key>CountryCode</key>
			<string>PY</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+32</string>
			<key>Country</key>
			<string>比利时</string>
			<key>CountryCode</key>
			<string>BE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+970</string>
			<key>Country</key>
			<string>巴勒斯坦领土</string>
			<key>CountryCode</key>
			<string>PS</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+591</string>
			<key>Country</key>
			<string>玻利维亚</string>
			<key>CountryCode</key>
			<string>BO</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+501</string>
			<key>Country</key>
			<string>伯利兹</string>
			<key>CountryCode</key>
			<string>BZ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1441</string>
			<key>Country</key>
			<string>百慕大</string>
			<key>CountryCode</key>
			<string>BM</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+229</string>
			<key>Country</key>
			<string>贝宁</string>
			<key>CountryCode</key>
			<string>BJ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+507</string>
			<key>Country</key>
			<string>巴拿马</string>
			<key>CountryCode</key>
			<string>PA</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+387</string>
			<key>Country</key>
			<string>波斯尼亚和黑塞哥维那</string>
			<key>CountryCode</key>
			<string>BA</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+55</string>
			<key>Country</key>
			<string>巴西</string>
			<key>CountryCode</key>
			<string>BR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+240</string>
			<key>Country</key>
			<string>赤道几内亚</string>
			<key>CountryCode</key>
			<string>GQ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+850</string>
			<key>Country</key>
			<string>朝鲜</string>
			<key>CountryCode</key>
			<string>KP</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+670</string>
			<key>Country</key>
			<string>东帝汶</string>
			<key>CountryCode</key>
			<string>TL</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+49</string>
			<key>Country</key>
			<string>德国</string>
			<key>CountryCode</key>
			<string>DE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+228</string>
			<key>Country</key>
			<string>多哥</string>
			<key>CountryCode</key>
			<string>TG</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+45</string>
			<key>Country</key>
			<string>丹麦</string>
			<key>CountryCode</key>
			<string>DK</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1809</string>
			<key>Country</key>
			<string>多米尼加共和国</string>
			<key>CountryCode</key>
			<string>DO</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1767</string>
			<key>Country</key>
			<string>多米尼克</string>
			<key>CountryCode</key>
			<string>DM</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+593</string>
			<key>Country</key>
			<string>厄瓜多尔</string>
			<key>CountryCode</key>
			<string>EC</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+7</string>
			<key>Country</key>
			<string>俄罗斯</string>
			<key>CountryCode</key>
			<string>RU</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+291</string>
			<key>Country</key>
			<string>厄立特里亚</string>
			<key>CountryCode</key>
			<string>ER</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+238</string>
			<key>Country</key>
			<string>佛得角</string>
			<key>CountryCode</key>
			<string>CV</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+33</string>
			<key>Country</key>
			<string>法国</string>
			<key>CountryCode</key>
			<string>FR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+679</string>
			<key>Country</key>
			<string>斐济</string>
			<key>CountryCode</key>
			<string>FJ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+358</string>
			<key>Country</key>
			<string>芬兰</string>
			<key>CountryCode</key>
			<string>FI</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+63</string>
			<key>Country</key>
			<string>菲律宾</string>
			<key>CountryCode</key>
			<string>PH</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+298</string>
			<key>Country</key>
			<string>法罗群岛</string>
			<key>CountryCode</key>
			<string>FO</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+689</string>
			<key>Country</key>
			<string>法属波利尼西亚</string>
			<key>CountryCode</key>
			<string>PF</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+594</string>
			<key>Country</key>
			<string>法属圭亚那</string>
			<key>CountryCode</key>
			<string>GF</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+53</string>
			<key>Country</key>
			<string>古巴</string>
			<key>CountryCode</key>
			<string>CU</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+220</string>
			<key>Country</key>
			<string>冈比亚</string>
			<key>CountryCode</key>
			<string>GM</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1671</string>
			<key>Country</key>
			<string>关岛</string>
			<key>CountryCode</key>
			<string>GU</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+590</string>
			<key>Country</key>
			<string>瓜德罗普岛</string>
			<key>CountryCode</key>
			<string>GP</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+242</string>
			<key>Country</key>
			<string>刚果共和国</string>
			<key>CountryCode</key>
			<string>CG</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+243</string>
			<key>Country</key>
			<string>刚果民主共和国</string>
			<key>CountryCode</key>
			<string>CD</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+57</string>
			<key>Country</key>
			<string>哥伦比亚</string>
			<key>CountryCode</key>
			<string>CO</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+995</string>
			<key>Country</key>
			<string>格鲁吉亚</string>
			<key>CountryCode</key>
			<string>GE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+299</string>
			<key>Country</key>
			<string>格陵兰</string>
			<key>CountryCode</key>
			<string>GL</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1473</string>
			<key>Country</key>
			<string>格林纳达</string>
			<key>CountryCode</key>
			<string>GD</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+506</string>
			<key>Country</key>
			<string>哥斯达黎加</string>
			<key>CountryCode</key>
			<string>CR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+592</string>
			<key>Country</key>
			<string>圭亚那</string>
			<key>CountryCode</key>
			<string>GY</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+509</string>
			<key>Country</key>
			<string>海地</string>
			<key>CountryCode</key>
			<string>HT</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+504</string>
			<key>Country</key>
			<string>洪都拉斯</string>
			<key>CountryCode</key>
			<string>HN</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+82</string>
			<key>Country</key>
			<string>韩国</string>
			<key>CountryCode</key>
			<string>KR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+31</string>
			<key>Country</key>
			<string>荷兰</string>
			<key>CountryCode</key>
			<string>NL</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+382</string>
			<key>Country</key>
			<string>黑山</string>
			<key>CountryCode</key>
			<string>ME</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+599</string>
			<key>Country</key>
			<string>荷属安的列斯群岛</string>
			<key>CountryCode</key>
			<string>AN</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+7</string>
			<key>Country</key>
			<string>哈萨克斯坦</string>
			<key>CountryCode</key>
			<string>KZ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+263</string>
			<key>Country</key>
			<string>津巴布韦</string>
			<key>CountryCode</key>
			<string>ZW</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+253</string>
			<key>Country</key>
			<string>吉布提</string>
			<key>CountryCode</key>
			<string>DJ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+996</string>
			<key>Country</key>
			<string>吉尔吉斯斯坦</string>
			<key>CountryCode</key>
			<string>KG</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+420</string>
			<key>Country</key>
			<string>捷克共和国</string>
			<key>CountryCode</key>
			<string>CZ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+233</string>
			<key>Country</key>
			<string>加纳</string>
			<key>CountryCode</key>
			<string>GH</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Country</key>
			<string>加拿大</string>
			<key>CountryCode</key>
			<string>CA</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+224</string>
			<key>Country</key>
			<string>几内亚</string>
			<key>CountryCode</key>
			<string>GN</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+245</string>
			<key>Country</key>
			<string>几内亚比绍</string>
			<key>CountryCode</key>
			<string>GW</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+241</string>
			<key>Country</key>
			<string>加蓬</string>
			<key>CountryCode</key>
			<string>GA</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+855</string>
			<key>Country</key>
			<string>柬埔寨</string>
			<key>CountryCode</key>
			<string>KH</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+682</string>
			<key>Country</key>
			<string>库克群岛</string>
			<key>CountryCode</key>
			<string>CK</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+385</string>
			<key>Country</key>
			<string>克罗地亚</string>
			<key>CountryCode</key>
			<string>HR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+237</string>
			<key>Country</key>
			<string>喀麦隆</string>
			<key>CountryCode</key>
			<string>CM</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+269</string>
			<key>Country</key>
			<string>科摩罗</string>
			<key>CountryCode</key>
			<string>KM</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1345</string>
			<key>Country</key>
			<string>开曼群岛</string>
			<key>CountryCode</key>
			<string>KY</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+254</string>
			<key>Country</key>
			<string>肯尼亚</string>
			<key>CountryCode</key>
			<string>KE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+225</string>
			<key>Country</key>
			<string>科特迪瓦</string>
			<key>CountryCode</key>
			<string>CI</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+974</string>
			<key>Country</key>
			<string>卡塔尔</string>
			<key>CountryCode</key>
			<string>QA</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+965</string>
			<key>Country</key>
			<string>科威特</string>
			<key>CountryCode</key>
			<string>KW</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+231</string>
			<key>Country</key>
			<string>利比里亚</string>
			<key>CountryCode</key>
			<string>LR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+961</string>
			<key>Country</key>
			<string>黎巴嫩</string>
			<key>CountryCode</key>
			<string>LB</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+218</string>
			<key>Country</key>
			<string>利比亚</string>
			<key>CountryCode</key>
			<string>LY</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+40</string>
			<key>Country</key>
			<string>罗马尼亚</string>
			<key>CountryCode</key>
			<string>RO</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+262</string>
			<key>Country</key>
			<string>留尼旺岛</string>
			<key>CountryCode</key>
			<string>RE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+352</string>
			<key>Country</key>
			<string>卢森堡</string>
			<key>CountryCode</key>
			<string>LU</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+266</string>
			<key>Country</key>
			<string>莱索托</string>
			<key>CountryCode</key>
			<string>LS</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+370</string>
			<key>Country</key>
			<string>立陶宛</string>
			<key>CountryCode</key>
			<string>LT</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+371</string>
			<key>Country</key>
			<string>拉脱维亚</string>
			<key>CountryCode</key>
			<string>LV</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+856</string>
			<key>Country</key>
			<string>老挝</string>
			<key>CountryCode</key>
			<string>LA</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+250</string>
			<key>Country</key>
			<string>卢旺达</string>
			<key>CountryCode</key>
			<string>RW</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+423</string>
			<key>Country</key>
			<string>列支敦士登</string>
			<key>CountryCode</key>
			<string>LI</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+261</string>
			<key>Country</key>
			<string>马达加斯加</string>
			<key>CountryCode</key>
			<string>MG</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+960</string>
			<key>Country</key>
			<string>马尔代夫</string>
			<key>CountryCode</key>
			<string>MV</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+373</string>
			<key>Country</key>
			<string>摩尔多瓦</string>
			<key>CountryCode</key>
			<string>MD</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+356</string>
			<key>Country</key>
			<string>马耳他</string>
			<key>CountryCode</key>
			<string>MT</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Country</key>
			<string>美国</string>
			<key>CountryCode</key>
			<string>US</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+976</string>
			<key>Country</key>
			<string>蒙古</string>
			<key>CountryCode</key>
			<string>MN</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+880</string>
			<key>Country</key>
			<string>孟加拉国</string>
			<key>CountryCode</key>
			<string>BD</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+223</string>
			<key>Country</key>
			<string>马里</string>
			<key>CountryCode</key>
			<string>ML</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+51</string>
			<key>Country</key>
			<string>秘鲁</string>
			<key>CountryCode</key>
			<string>PE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+212</string>
			<key>Country</key>
			<string>摩洛哥</string>
			<key>CountryCode</key>
			<string>MA</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+230</string>
			<key>Country</key>
			<string>毛里求斯</string>
			<key>CountryCode</key>
			<string>MU</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+222</string>
			<key>Country</key>
			<string>毛里塔尼亚</string>
			<key>CountryCode</key>
			<string>MR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+265</string>
			<key>Country</key>
			<string>马拉维</string>
			<key>CountryCode</key>
			<string>MW</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+60</string>
			<key>Country</key>
			<string>马来西亚</string>
			<key>CountryCode</key>
			<string>MY</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+377</string>
			<key>Country</key>
			<string>摩纳哥</string>
			<key>CountryCode</key>
			<string>MC</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+389</string>
			<key>Country</key>
			<string>马其顿</string>
			<key>CountryCode</key>
			<string>MK</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+258</string>
			<key>Country</key>
			<string>莫桑比克</string>
			<key>CountryCode</key>
			<string>MZ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1664</string>
			<key>Country</key>
			<string>蒙塞拉特群岛</string>
			<key>CountryCode</key>
			<string>MS</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+596</string>
			<key>Country</key>
			<string>马提尼克</string>
			<key>CountryCode</key>
			<string>MQ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+52</string>
			<key>Country</key>
			<string>墨西哥</string>
			<key>CountryCode</key>
			<string>MX</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+977</string>
			<key>Country</key>
			<string>尼泊尔</string>
			<key>CountryCode</key>
			<string>NP</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+27</string>
			<key>Country</key>
			<string>南非</string>
			<key>CountryCode</key>
			<string>ZA</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+505</string>
			<key>Country</key>
			<string>尼加拉瓜</string>
			<key>CountryCode</key>
			<string>NI</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+264</string>
			<key>Country</key>
			<string>纳米比亚</string>
			<key>CountryCode</key>
			<string>NA</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+227</string>
			<key>Country</key>
			<string>尼日尔</string>
			<key>CountryCode</key>
			<string>NE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+234</string>
			<key>Country</key>
			<string>尼日利亚</string>
			<key>CountryCode</key>
			<string>NG</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+211</string>
			<key>Country</key>
			<string>南苏丹</string>
			<key>CountryCode</key>
			<string>SS</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+47</string>
			<key>Country</key>
			<string>挪威</string>
			<key>CountryCode</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+351</string>
			<key>Country</key>
			<string>葡萄牙</string>
			<key>CountryCode</key>
			<string>PT</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+81</string>
			<key>Country</key>
			<string>日本</string>
			<key>CountryCode</key>
			<string>JP</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+46</string>
			<key>Country</key>
			<string>瑞典</string>
			<key>CountryCode</key>
			<string>SE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+41</string>
			<key>Country</key>
			<string>瑞士</string>
			<key>CountryCode</key>
			<string>CH</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+249</string>
			<key>Country</key>
			<string>苏丹</string>
			<key>CountryCode</key>
			<string>SD</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+239</string>
			<key>Country</key>
			<string>圣多美和普林西比</string>
			<key>CountryCode</key>
			<string>ST</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+503</string>
			<key>Country</key>
			<string>萨尔瓦多</string>
			<key>CountryCode</key>
			<string>SV</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+381</string>
			<key>Country</key>
			<string>塞尔维亚</string>
			<key>CountryCode</key>
			<string>RS</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1869</string>
			<key>Country</key>
			<string>圣基茨和尼维斯</string>
			<key>CountryCode</key>
			<string>KN</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+421</string>
			<key>Country</key>
			<string>斯洛伐克</string>
			<key>CountryCode</key>
			<string>SK</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+232</string>
			<key>Country</key>
			<string>塞拉利昂</string>
			<key>CountryCode</key>
			<string>SL</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+94</string>
			<key>Country</key>
			<string>斯里兰卡</string>
			<key>CountryCode</key>
			<string>LK</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+597</string>
			<key>Country</key>
			<string>苏里南</string>
			<key>CountryCode</key>
			<string>SR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+386</string>
			<key>Country</key>
			<string>斯洛文尼亚</string>
			<key>CountryCode</key>
			<string>SI</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1758</string>
			<key>Country</key>
			<string>圣卢西亚</string>
			<key>CountryCode</key>
			<string>LC</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+252</string>
			<key>Country</key>
			<string>索马里</string>
			<key>CountryCode</key>
			<string>SO</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+378</string>
			<key>Country</key>
			<string>圣马力诺</string>
			<key>CountryCode</key>
			<string>SM</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+685</string>
			<key>Country</key>
			<string>萨摩亚</string>
			<key>CountryCode</key>
			<string>WS</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+221</string>
			<key>Country</key>
			<string>塞内加尔</string>
			<key>CountryCode</key>
			<string>SN</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+508</string>
			<key>Country</key>
			<string>圣皮埃尔和密克隆群岛</string>
			<key>CountryCode</key>
			<string>PM</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+357</string>
			<key>Country</key>
			<string>塞浦路斯</string>
			<key>CountryCode</key>
			<string>CY</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+248</string>
			<key>Country</key>
			<string>塞舌尔</string>
			<key>CountryCode</key>
			<string>SC</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+966</string>
			<key>Country</key>
			<string>沙特阿拉伯</string>
			<key>CountryCode</key>
			<string>SA</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+268</string>
			<key>Country</key>
			<string>斯威士兰</string>
			<key>CountryCode</key>
			<string>SZ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1784</string>
			<key>Country</key>
			<string>圣文森特和格林纳丁斯</string>
			<key>CountryCode</key>
			<string>VC</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+90</string>
			<key>Country</key>
			<string>土耳其</string>
			<key>CountryCode</key>
			<string>TR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+66</string>
			<key>Country</key>
			<string>泰国</string>
			<key>CountryCode</key>
			<string>TH</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+676</string>
			<key>Country</key>
			<string>汤加</string>
			<key>CountryCode</key>
			<string>TO</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+992</string>
			<key>Country</key>
			<string>塔吉克斯坦</string>
			<key>CountryCode</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+993</string>
			<key>Country</key>
			<string>土库曼斯坦</string>
			<key>CountryCode</key>
			<string>TM</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1649</string>
			<key>Country</key>
			<string>特克斯和凯科斯群岛</string>
			<key>CountryCode</key>
			<string>TC</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1868</string>
			<key>Country</key>
			<string>特里尼达和多巴哥</string>
			<key>CountryCode</key>
			<string>TT</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+216</string>
			<key>Country</key>
			<string>突尼斯</string>
			<key>CountryCode</key>
			<string>TN</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+255</string>
			<key>Country</key>
			<string>坦桑尼亚</string>
			<key>CountryCode</key>
			<string>TZ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+502</string>
			<key>Country</key>
			<string>危地马拉</string>
			<key>CountryCode</key>
			<string>GT</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+256</string>
			<key>Country</key>
			<string>乌干达</string>
			<key>CountryCode</key>
			<string>UG</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+380</string>
			<key>Country</key>
			<string>乌克兰</string>
			<key>CountryCode</key>
			<string>UA</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+673</string>
			<key>Country</key>
			<string>文莱</string>
			<key>CountryCode</key>
			<string>BN</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+598</string>
			<key>Country</key>
			<string>乌拉圭</string>
			<key>CountryCode</key>
			<string>UY</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+678</string>
			<key>Country</key>
			<string>瓦努阿图</string>
			<key>CountryCode</key>
			<string>VU</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+58</string>
			<key>Country</key>
			<string>委内瑞拉</string>
			<key>CountryCode</key>
			<string>VE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+998</string>
			<key>Country</key>
			<string>乌兹别克斯坦</string>
			<key>CountryCode</key>
			<string>UZ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+34</string>
			<key>Country</key>
			<string>西班牙</string>
			<key>CountryCode</key>
			<string>ES</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+65</string>
			<key>Country</key>
			<string>新加坡</string>
			<key>CountryCode</key>
			<string>SG</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+687</string>
			<key>Country</key>
			<string>新喀里多尼亚</string>
			<key>CountryCode</key>
			<string>NC</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+30</string>
			<key>Country</key>
			<string>希腊</string>
			<key>CountryCode</key>
			<string>GR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+963</string>
			<key>Country</key>
			<string>叙利亚</string>
			<key>CountryCode</key>
			<string>SY</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+64</string>
			<key>Country</key>
			<string>新西兰</string>
			<key>CountryCode</key>
			<string>NZ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+36</string>
			<key>Country</key>
			<string>匈牙利</string>
			<key>CountryCode</key>
			<string>HU</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+91</string>
			<key>Country</key>
			<string>印度</string>
			<key>CountryCode</key>
			<string>IN</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+962</string>
			<key>Country</key>
			<string>约旦</string>
			<key>CountryCode</key>
			<string>JO</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+39</string>
			<key>Country</key>
			<string>意大利</string>
			<key>CountryCode</key>
			<string>IT</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+62</string>
			<key>Country</key>
			<string>印度尼西亚</string>
			<key>CountryCode</key>
			<string>ID</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+44</string>
			<key>Country</key>
			<string>英国</string>
			<key>CountryCode</key>
			<string>GB</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+98</string>
			<key>Country</key>
			<string>伊朗</string>
			<key>CountryCode</key>
			<string>IR</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+964</string>
			<key>Country</key>
			<string>伊拉克</string>
			<key>CountryCode</key>
			<string>IQ</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+967</string>
			<key>Country</key>
			<string>也门</string>
			<key>CountryCode</key>
			<string>YE</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1876</string>
			<key>Country</key>
			<string>牙买加</string>
			<key>CountryCode</key>
			<string>JM</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+374</string>
			<key>Country</key>
			<string>亚美尼亚</string>
			<key>CountryCode</key>
			<string>AM</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+84</string>
			<key>Country</key>
			<string>越南</string>
			<key>CountryCode</key>
			<string>VN</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+972</string>
			<key>Country</key>
			<string>以色列</string>
			<key>CountryCode</key>
			<string>IL</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1284</string>
			<key>Country</key>
			<string>英属维尔京群岛</string>
			<key>CountryCode</key>
			<string>VG</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+350</string>
			<key>Country</key>
			<string>直布罗陀</string>
			<key>CountryCode</key>
			<string>GI</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+260</string>
			<key>Country</key>
			<string>赞比亚</string>
			<key>CountryCode</key>
			<string>ZM</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+235</string>
			<key>Country</key>
			<string>乍得</string>
			<key>CountryCode</key>
			<string>TD</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+236</string>
			<key>Country</key>
			<string>中非共和国</string>
			<key>CountryCode</key>
			<string>CF</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+86</string>
			<key>Country</key>
			<string>中国</string>
			<key>CountryCode</key>
			<string>CN</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+853</string>
			<key>Country</key>
			<string>中国澳门特别行政区</string>
			<key>CountryCode</key>
			<string>MO</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+886</string>
			<key>Country</key>
			<string>台湾</string>
			<key>CountryCode</key>
			<string>TW</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+852</string>
			<key>Country</key>
			<string>中国香港特别行政区</string>
			<key>CountryCode</key>
			<string>HK</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+56</string>
			<key>Country</key>
			<string>智利</string>
			<key>CountryCode</key>
			<string>CL</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+44</string>
			<key>Country</key>
			<string>泽西岛</string>
			<key>CountryCode</key>
			<string>JE</string>
		</dict>
	</array>
</dict>
</plist>
