<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>settingchat</key>
	<array>
		<dict>
			<key>baseinfo</key>
			<string>基本信息</string>
			<key>title</key>
			<string>基本信息</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>icon</key>
					<string>defaulthead.png</string>
					<key>title</key>
					<string>个人头像</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>用户名</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>性别</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>safeinfo</key>
			<string>安全设置</string>
			<key>title</key>
			<string>安全设置</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>3</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>绑定邮箱</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>4</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>账号登录密码</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string> </string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>6</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>屏蔽列表</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>settinginfo</key>
			<string>设置</string>
			<key>title</key>
			<string>设置</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>5</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>提示信息</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>7</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>隐私协议和政策条款</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
