<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorMsg</key>
	<dict>
		<key>150001</key>
		<string>请求失败</string>
		<key>150002</key>
		<string>请求失败</string>
		<key>150003</key>
		<string>请求失败</string>
		<key>150004</key>
		<string>请求失败</string>
		<key>150005</key>
		<string>请求失败</string>
		<key>150101</key>
		<string>请求失败</string>
		<key>150102</key>
		<string>请求失败</string>
		<key>150103</key>
		<string>该内容已不存在</string>
		<key>150104</key>
		<string>你需要重新登录</string>
		<key>150105</key>
		<string>黑名单用户</string>
		<key>150106</key>
		<string>请勿重复发布相同的内容</string>
		<key>150107</key>
		<string>发布内容太快了</string>
		<key>150108</key>
		<string>哇噢！内容包含被限制词语</string>
		<key>150109</key>
		<string>未加入该游戏组</string>
		<key>150201</key>
		<string>账户不存在</string>
		<key>150202</key>
		<string>密码错误</string>
		<key>150203</key>
		<string>邮箱格式错误</string>
		<key>150204</key>
		<string>密码是6-18位的英文或数字</string>
		<key>150205</key>
		<string>帐号已绑定, 不能重复绑定</string>
		<key>150206</key>
		<string>SNS类型错误</string>
		<key>150207</key>
		<string>缺失用户名</string>
		<key>150208</key>
		<string>用户名已存在，请使用其他用户名</string>
		<key>150209</key>
		<string>用户名长度应在2-30</string>
		<key>150210</key>
		<string>原始密码不正确</string>
		<key>150211</key>
		<string>已有账户</string>
		<key>150213</key>
		<string>校验码错误</string>
		<key>150214</key>
		<string>新旧密码不能一样</string>
		<key>150215</key>
		<string>用户名包含敏感词</string>
		<key>150216</key>
		<string>邮件发送失败</string>
		<key>150217</key>
		<string>邮箱格式错误</string>
		<key>150221</key>
		<string>用户名不能包含空格</string>
		<key>150222</key>
		<string>用户名必须是2-30个中文、英文或数字。</string>
		<key>150223</key>
		<string>抱歉，不再支持修改昵称。</string>
		<key>150303</key>
		<string>话题内容不符合字数规范</string>
		<key>150304</key>
		<string>此话题有评论, 不能删除</string>
		<key>150305</key>
		<string>对不起，您不能添加更多截图了</string>
		<key>150306</key>
		<string>上传话题图片类型错误</string>
		<key>150307</key>
		<string>你不能称赞自己的话题</string>
		<key>150308</key>
		<string>你不能称删除别人的话题</string>
		<key>150309</key>
		<string>你已经称赞过这个话题</string>
		<key>150322</key>
		<string>话题回复不符合字数规范</string>
		<key>150324</key>
		<string>上传回复图片超过数量限制</string>
		<key>150325</key>
		<string>上传回复图片类型错误</string>
		<key>150326</key>
		<string>你不能称赞自己发布的话题回复</string>
		<key>150327</key>
		<string>你不能称删除别人发布的话题回复</string>
		<key>150328</key>
		<string>你已经称赞过这个回复</string>
		<key>150402</key>
		<string>发布图片描述不符合字数规范</string>
		<key>150403</key>
		<string>上传图片类型错误</string>
		<key>150404</key>
		<string>你不能称赞自己发布的图片</string>
		<key>150405</key>
		<string>你已经称赞过这幅图片</string>
		<key>150422</key>
		<string>图片回复不符合字数规范</string>
		<key>150423</key>
		<string>你不能删除别人的图片回复</string>
		<key>150501</key>
		<string>不能重复举报话题</string>
		<key>150502</key>
		<string>不能重复举报图片</string>
		<key>150701</key>
		<string>不能邀请自己</string>
		<key>150702</key>
		<string>你们已经是好友</string>
		<key>150703</key>
		<string>对不起,你已经达到好友数量上限,申请添加好友失败!</string>
		<key>150704</key>
		<string>对不起,对方已经达到好友数量上限,申请添加好友失败!</string>
		<key>150705</key>
		<string>你已经邀请过他了</string>
		<key>150706</key>
		<string>你们还不是好友</string>
		<key>150801</key>
		<string>奖励已领取</string>
		<key>150802</key>
		<string>奖励未找到</string>
		<key>-1009</key>
		<string>网络链接失败</string>
	</dict>
</dict>
</plist>
