<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>glb_container_width</key>
	<integer>260</integer>
	<key>glb_container_height</key>
	<integer>275</integer>
	<key>rg_usr_2phone_height</key>
	<integer>12</integer>
	<key>rg_usr_item_height</key>
	<integer>10</integer>
	<key>rg_usr_button_height</key>
	<integer>31</integer>
	<key>rg_usr_textfield_height</key>
	<integer>27</integer>
	<key>rg_usr_main_height</key>
	<integer>193</integer>
	<key>rg_usr_main_width</key>
	<integer>238</integer>
	<key>lg_button_height</key>
	<integer>31</integer>
	<key>lg_11_text_height</key>
	<integer>12</integer>
	<key>lg_logo_height</key>
	<integer>15</integer>
	<key>lg_hasAccount_height</key>
	<integer>13</integer>
	<key>lg_registration_height</key>
	<integer>74</integer>
	<key>lg_sns_height</key>
	<integer>86</integer>
	<key>lg_trademarks_height</key>
	<integer>57</integer>
	<key>lg_main_height</key>
	<integer>230</integer>
	<key>lg_main_width</key>
	<integer>235</integer>
	<key>maincontainer_width</key>
	<integer>260</integer>
	<key>maincontainer_height</key>
	<integer>275</integer>
	<key>maincontainer_nav_hegiht</key>
	<integer>36</integer>
	<key>maincontainer_nav_horizontal_space</key>
	<integer>6</integer>
	<key>nav_btn_width</key>
	<integer>48</integer>
	<key>nav_btn_height</key>
	<integer>26</integer>
	<key>nav_backbtn_width</key>
	<integer>8</integer>
	<key>nav_backbtn_height</key>
	<integer>12</integer>
	<key>container_bg_default_width</key>
	<integer>260</integer>
	<key>container_bg_nogamelogo_height</key>
	<integer>215</integer>
	<key>container_view_corner_radius</key>
	<integer>0</integer>
	<key>content_left_margin</key>
	<integer>12</integer>
	<key>content_top_margin</key>
	<integer>10</integer>
	<key>content_right_margin</key>
	<integer>12</integer>
	<key>button_intextfield_right_margin</key>
	<integer>8</integer>
	<key>textfield_between_vertical</key>
	<integer>5</integer>
	<key>btn_ontextfield_right_margin</key>
	<integer>8</integer>
	<key>textfield_btn_between_vertical</key>
	<integer>8</integer>
	<key>inputcontent_intextfield_left_margin</key>
	<integer>5</integer>
	<key>ktlogo_btn_between_vertical</key>
	<integer>15</integer>
	<key>registerbtn_arrow_between_ horizontal</key>
	<integer>6</integer>
	<key>ktlogo_line_between_vertical</key>
	<integer>15</integer>
	<key>seprate_line_height</key>
	<integer>1</integer>
	<key>seprate_line_width</key>
	<integer>236</integer>
	<key>snslogo_line_vertical</key>
	<integer>10</integer>
	<key>ktservice_regbtn_between_vertical</key>
	<integer>15</integer>
	<key>ktlogo_ktservice_between_vertical</key>
	<integer>15</integer>
	<key>infotextview_width</key>
	<integer>240</integer>
	<key>infotextview_height</key>
	<integer>155</integer>
	<key>infotextview_corner_radius</key>
	<integer>3</integer>
	<key>bind_email_line_height</key>
	<integer>31</integer>
	<key>bind_email_intextfield_between_vertical</key>
	<integer>5</integer>
	<key>login_global_container_width</key>
	<integer>260</integer>
	<key>login_global_container_height</key>
	<integer>275</integer>
	<key>login_global_cornerradius</key>
	<integer>2</integer>
	<key>login_global_borderwidth</key>
	<integer>1</integer>
	<key>login_global_contenttop</key>
	<integer>56</integer>
	<key>login_global_contentbottom</key>
	<integer>248</integer>
	<key>login_global_contentwidth</key>
	<integer>238</integer>
	<key>login_global_textfieldheight</key>
	<integer>27</integer>
	<key>login_global_textfieldpadding</key>
	<integer>6</integer>
	<key>login_global_pushbuttonheight</key>
	<integer>31</integer>
	<key>login_global_spacesmallvertical</key>
	<integer>6</integer>
	<key>login_global_spacesmallhorizontal</key>
	<integer>6</integer>
	<key>login_global_spacebighorizontal</key>
	<integer>10</integer>
	<key>login_registerbycell_regionwidth</key>
	<integer>57</integer>
	<key>login_registerbycell_captchbtnwidth</key>
	<integer>88</integer>
	<key>login_regionlist_height</key>
	<integer>193</integer>
	<key>login_regionlist_title_height</key>
	<integer>20</integer>
	<key>login_regionlist_item_height</key>
	<integer>37</integer>
	<key>login_regionlist_cancel_width</key>
	<integer>184</integer>
	<key>login_regionlist_cancel_height</key>
	<integer>31</integer>
	<key>account_horizontal_spacing</key>
	<integer>10</integer>
	<key>account_vertical_spacing</key>
	<integer>10</integer>
	<key>container_border_width</key>
	<integer>1</integer>
	<key>container_corner_radius</key>
	<integer>6</integer>
</dict>
</plist>
