<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prop_category</key>
	<string>sns</string>
	<key>prop_region</key>
	<string>China</string>
	<key>prop_name</key>
	<string>wechat</string>
	<key>prop_version</key>
	<string>1.0.0</string>
	<key>prop_shareable_targets</key>
	<array>
		<string>wechat_contacts</string>
		<string>wechat_moments</string>
	</array>
	<key>prop_scheme</key>
	<string>wx</string>
	<key>test_appkeys</key>
	<array>
		<dict>
			<key>AppID</key>
			<string>wxd8000628a92b3972</string>
		</dict>
		<dict>
			<key>AppID</key>
			<string>wxe15a923487a28eb4</string>
		</dict>
	</array>
	<key>disable_features</key>
	<string></string>
	<key>prop_priority</key>
	<integer>40</integer>
</dict>
</plist>
