<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>glb_container_height</key>
	<integer>600</integer>
	<key>glb_container_width</key>
	<integer>736</integer>
	<key>rg_usr_2phone_height</key>
	<integer>24</integer>
	<key>rg_usr_item_height</key>
	<integer>20</integer>
	<key>rg_usr_button_height</key>
	<integer>62</integer>
	<key>rg_usr_textfield_height</key>
	<integer>54</integer>
	<key>rg_usr_main_height</key>
	<integer>386</integer>
	<key>rg_usr_main_width</key>
	<integer>476</integer>
	<key>lg_button_height</key>
	<integer>62</integer>
	<key>lg_11_text_height</key>
	<integer>23</integer>
	<key>lg_logo_height</key>
	<integer>30</integer>
	<key>lg_hasAccount_height</key>
	<integer>26</integer>
	<key>lg_registration_height</key>
	<integer>148</integer>
	<key>lg_sns_height</key>
	<integer>172</integer>
	<key>lg_trademarks_height</key>
	<integer>114</integer>
	<key>lg_main_height</key>
	<integer>460</integer>
	<key>lg_main_width</key>
	<integer>470</integer>
	<key>login_guide_top_space</key>
	<integer>68</integer>
	<key>cell_invite_sns_height</key>
	<integer>100</integer>
	<key>common_head_height</key>
	<integer>74</integer>
	<key>mainmenu_width</key>
	<integer>120</integer>
	<key>mainmenu_height</key>
	<string>600</string>
	<key>mainmenu_topmargin</key>
	<integer>10</integer>
	<key>mainmenu_item_width</key>
	<integer>120</integer>
	<key>mainmenu_item_height</key>
	<integer>128</integer>
	<key>mainmenu_item_spacing</key>
	<integer>23</integer>
	<key>ypview_closebtn_space</key>
	<integer>25</integer>
	<key>maincontainer_width</key>
	<integer>740</integer>
	<key>maincontainer_height</key>
	<integer>600</integer>
	<key>container_border_width</key>
	<integer>2</integer>
	<key>container_corner_radius</key>
	<integer>12</integer>
	<key>maincontainer_footer_height</key>
	<integer>80</integer>
	<key>bottom_btn_bg_height</key>
	<integer>62</integer>
	<key>bottom_btn_bg_width</key>
	<integer>592</integer>
	<key>cancel_btn_width</key>
	<integer>550</integer>
	<key>maincontainer_nav_hegiht</key>
	<integer>72</integer>
	<key>maincontainer_nav_horizontal_space</key>
	<integer>12</integer>
	<key>maincontainer_nav_vertical_space</key>
	<integer>10</integer>
	<key>sex_setting_view_height</key>
	<integer>300</integer>
	<key>maincontainer_header_height</key>
	<integer>50</integer>
	<key>friend_enterance_title_height</key>
	<integer>75</integer>
	<key>cell_height_84</key>
	<integer>84</integer>
	<key>cell_height_82</key>
	<integer>82</integer>
	<key>mainpage_top_container_hegiht</key>
	<integer>170</integer>
	<key>mainpage_middle_container_hegiht</key>
	<integer>223</integer>
	<key>mainpage_screenshot_height</key>
	<integer>400</integer>
	<key>mainpage_screenshot_width</key>
	<integer>230</integer>
	<key>mainpage_screenshotmask_height</key>
	<integer>60</integer>
	<key>mainpage_screenshotmaskhead_width</key>
	<integer>48</integer>
	<key>mainpage_screenshot_padding</key>
	<integer>4</integer>
	<key>discussion_vertical_label_space</key>
	<integer>6</integer>
	<key>discussion_listview_width</key>
	<string>300</string>
	<key>player_cols</key>
	<integer>7</integer>
	<key>profile_horizontal_spacing</key>
	<integer>20</integer>
	<key>profile_vertical_spacing</key>
	<integer>20</integer>
	<key>cell_invite_channel_height</key>
	<integer>146</integer>
	<key>action_sheet_item_space</key>
	<integer>12</integer>
	<key>profile_head_width</key>
	<integer>138</integer>
	<key>profile_top_maincontainer_height</key>
	<integer>190</integer>
	<key>profile_chat_top_info_height</key>
	<integer>120</integer>
	<key>profile_middle_button_height</key>
	<integer>120</integer>
	<key>profile_middle_button_self_height</key>
	<integer>82</integer>
	<key>profile_add_or_chat_friend_height</key>
	<integer>50</integer>
	<key>discussion_horizontal_spacing</key>
	<integer>20</integer>
	<key>discussion_vertical_spacing</key>
	<integer>20</integer>
	<key>screenshot_horizontal_spacing</key>
	<integer>20</integer>
	<key>screenshot_vertical_spacing</key>
	<integer>40</integer>
	<key>screenshot_imglist_width</key>
	<integer>740</integer>
	<key>screenshot_imglist_height</key>
	<integer>440</integer>
	<key>screenshot_imglist_gradual_width</key>
	<integer>30</integer>
	<key>screenshot_cell_space</key>
	<integer>10</integer>
	<key>screenshot_cell_head_width</key>
	<integer>35</integer>
	<key>screenshot_creator_height</key>
	<integer>130</integer>
	<key>screenshot_imgitem_width</key>
	<integer>480</integer>
	<key>screenshot_imgitemimgview_height</key>
	<integer>300</integer>
	<key>screenshot_head_width</key>
	<integer>80</integer>
	<key>screenshot_head_height</key>
	<integer>80</integer>
	<key>screenshot_label_height</key>
	<integer>50</integer>
	<key>screenshot_label_comment_height</key>
	<integer>70</integer>
	<key>piccomment_picthumb_width</key>
	<integer>120</integer>
	<key>piccomment_picthumb_height</key>
	<integer>120</integer>
	<key>piccomment_space_v</key>
	<integer>10</integer>
	<key>piccomment_space_h</key>
	<integer>10</integer>
	<key>piccomment_label_height</key>
	<integer>80</integer>
	<key>piccomment_cell_head_width</key>
	<integer>100</integer>
	<key>piccomment_cell_label_height</key>
	<integer>15</integer>
	<key>piccomment_cell_space_v</key>
	<integer>20</integer>
	<key>piccomment_cell_space_h</key>
	<integer>20</integer>
	<key>piccomment_cell_space_v_2</key>
	<integer>10</integer>
	<key>piccomment_cell_space_h_2</key>
	<string>10</string>
	<key>writepiccomment_space_h</key>
	<integer>20</integer>
	<key>writepiccomment_space_v</key>
	<integer>20</integer>
	<key>writepiccomment_pic_width</key>
	<integer>30</integer>
	<key>writepiccomment_pic_height</key>
	<integer>30</integer>
	<key>photoview_creator_height</key>
	<integer>200</integer>
	<key>photoview_creatorhead_height</key>
	<integer>100</integer>
	<key>photoview_creatorhead_width</key>
	<integer>100</integer>
	<key>photoview_creatorhead_spaceH</key>
	<integer>20</integer>
	<key>photoview_creatorhead_spaceV</key>
	<integer>20</integer>
	<key>photoview_label_height</key>
	<integer>16</integer>
	<key>photoview_label_width</key>
	<integer>100</integer>
	<key>photoview_label_spaceV</key>
	<integer>20</integer>
	<key>photoview_label_spaceH</key>
	<integer>20</integer>
	<key>photoview_label_comment_height</key>
	<integer>100</integer>
	<key>photoview_btn_space</key>
	<integer>25</integer>
	<key>photoview_btn_bottom_space</key>
	<integer>10</integer>
	<key>photoview_btnlabel_space</key>
	<integer>50</integer>
	<key>photoview_btnlabel_width</key>
	<integer>40</integer>
	<key>photoview_page_space</key>
	<integer>10</integer>
	<key>imageadd_description_height</key>
	<integer>100</integer>
	<key>imageadd_horizontal_spacing</key>
	<integer>10</integer>
	<key>imageadd_vertical_spacing</key>
	<integer>20</integer>
	<key>imageadd_textview_height</key>
	<integer>140</integer>
	<key>player_horizontal_spacing</key>
	<integer>20</integer>
	<key>mainpage_horizontal_spacing</key>
	<integer>20</integer>
	<key>mainpage_vertical_spacing</key>
	<integer>10</integer>
	<key>mainpage_padding</key>
	<integer>20</integer>
	<key>mainpage_user_head_width</key>
	<integer>80</integer>
	<key>mainpage_head_height</key>
	<integer>60</integer>
	<key>user_padding</key>
	<integer>20</integer>
	<key>user_tbl_height</key>
	<integer>280</integer>
	<key>user_cell_space</key>
	<integer>40</integer>
	<key>user_cell_label_space</key>
	<integer>10</integer>
	<key>userhead_cell_tbl_height</key>
	<integer>140</integer>
	<key>userhead_cell_width</key>
	<integer>120</integer>
	<key>userhead_cell_like_h</key>
	<integer>40</integer>
	<key>userhead_cell_nickname_h</key>
	<integer>40</integer>
	<key>userhead_cell_space</key>
	<integer>26</integer>
	<key>mainpage_disscusion_head_width</key>
	<integer>130</integer>
	<key>discussion_padding</key>
	<integer>15</integer>
	<key>discussion_list_cell_image_width</key>
	<integer>110</integer>
	<key>discussion_cell_image_width</key>
	<integer>70</integer>
	<key>searchbar_height</key>
	<integer>44</integer>
	<key>action_sheet_space</key>
	<integer>32</integer>
	<key>action_sheet_title_height</key>
	<integer>75</integer>
	<key>action_sheet_btn_height</key>
	<integer>65</integer>
	<key>searchbar_padding</key>
	<integer>20</integer>
	<key>reply_padding</key>
	<integer>20</integer>
	<key>discussion_cell_head_width</key>
	<integer>60</integer>
	<key>reply_horizontal_spacing</key>
	<integer>20</integer>
	<key>reply_vertical_spacing</key>
	<integer>15</integer>
	<key>reply_vertical_label_spacing</key>
	<integer>10</integer>
	<key>reply_cell_head_width</key>
	<integer>80</integer>
	<key>reply_share_cancel_height</key>
	<integer>80</integer>
	<key>account_horizontal_spacing</key>
	<integer>20</integer>
	<key>account_vertical_spacing</key>
	<integer>20</integer>
	<key>login_horizontal_spacing</key>
	<integer>20</integer>
	<key>login_vertical_spacing</key>
	<integer>40</integer>
	<key>sns_v_h_spacing</key>
	<integer>30</integer>
	<key>login_inputtable_width</key>
	<integer>500</integer>
	<key>register_btn_bg_height</key>
	<integer>52</integer>
	<key>login_inputtable_height</key>
	<string>140</string>
	<key>login_vertical_youmeng_space</key>
	<integer>60</integer>
	<key>login_vertical_label_spacing</key>
	<integer>20</integer>
	<key>login_vertical_new_height</key>
	<integer>20</integer>
	<key>login_snsitem_height</key>
	<integer>150</integer>
	<key>login_swith_height</key>
	<integer>120</integer>
	<key>textfield_xoffset</key>
	<integer>20</integer>
	<key>appstore_alert_width</key>
	<integer>400</integer>
	<key>userpic_cols</key>
	<integer>3</integer>
	<key>userpic_padding</key>
	<integer>20</integer>
	<key>userpic_cell_height</key>
	<integer>250</integer>
	<key>userpic_cell_space</key>
	<integer>10</integer>
	<key>userpic_cell_tip_height</key>
	<integer>40</integer>
	<key>userpic_cell_pic_height</key>
	<integer>200</integer>
	<key>setting_horizontal_spacing</key>
	<integer>20</integer>
	<key>setting_vertical_spacing</key>
	<integer>20</integer>
	<key>setting_section_height</key>
	<integer>45</integer>
	<key>setting_row_height</key>
	<integer>85</integer>
	<key>setting_row_icon_width</key>
	<integer>60</integer>
	<key>setting_row_icon_height</key>
	<integer>60</integer>
	<key>setting_rs_width</key>
	<integer>100</integer>
	<key>setting_rs_height</key>
	<integer>50</integer>
	<key>setting_btn_width</key>
	<integer>140</integer>
	<key>setting_btn_height</key>
	<integer>50</integer>
	<key>mydiscussion_horizontal_spacing</key>
	<integer>20</integer>
	<key>mydiscussion_vertical_spacing</key>
	<integer>20</integer>
	<key>otheruserlike_cell_spaceV</key>
	<integer>20</integer>
	<key>otheruserlike_cell_spaceH</key>
	<integer>20</integer>
	<key>otheruserlike_cell_spaceV2</key>
	<integer>16</integer>
	<key>otheruserlike_cell_headWidth</key>
	<integer>72</integer>
	<key>otheruserlike_cell_headSpace</key>
	<integer>100</integer>
	<key>otheruserlike_cell_height</key>
	<integer>104</integer>
	<key>inputfiled_height</key>
	<integer>60</integer>
	<key>storeview_cell_height</key>
	<integer>160</integer>
	<key>storeview_cell_space</key>
	<integer>20</integer>
	<key>storeview_cell_icon_width</key>
	<integer>110</integer>
	<key>discussion_promotion_cell_horizontal_spacing</key>
	<integer>20</integer>
	<key>discussion_promotion_cell_vertical_spacing</key>
	<integer>10</integer>
	<key>discussion_promotion_cell_head_width</key>
	<integer>100</integer>
	<key>discussion_promotion_cell_pic_width</key>
	<integer>100</integer>
	<key>footpageview_height</key>
	<integer>140</integer>
	<key>footpageview_width</key>
	<integer>140</integer>
	<key>notiview_height</key>
	<integer>180</integer>
	<key>notiview_width</key>
	<integer>665</integer>
	<key>notiviewicon_xoffset</key>
	<integer>10</integer>
	<key>notiviewicon_yoffset</key>
	<integer>30</integer>
	<key>notiviewicon_width</key>
	<integer>120</integer>
	<key>notiviewicon_height</key>
	<integer>120</integer>
	<key>notiviewtitle_spaceH</key>
	<integer>10</integer>
	<key>notiviewtitle_yoffset</key>
	<integer>30</integer>
	<key>notiviewtitle_width</key>
	<integer>395</integer>
	<key>notiviewcontent_spaceH</key>
	<integer>10</integer>
	<key>notiviewcontentnumberofline</key>
	<integer>2</integer>
	<key>notiviewcontent_width</key>
	<integer>395</integer>
	<key>notiviewclosebutton_spaceH</key>
	<integer>12</integer>
	<key>notiviewclosebutton_yoffset</key>
	<integer>20</integer>
	<key>notiviewclosebutton_width</key>
	<integer>40</integer>
	<key>notiviewclosebutton_height</key>
	<integer>40</integer>
	<key>notiview_cell_space</key>
	<integer>20</integer>
	<key>reward_btn_bg_width</key>
	<integer>104</integer>
	<key>reward_btn_bg_height</key>
	<integer>52</integer>
	<key>notiview_cell_icon_width</key>
	<string>90</string>
	<key>friend_enterance_title_spaceW</key>
	<integer>5</integer>
	<key>friend_enterance_bg_inset</key>
	<integer>10</integer>
	<key>frined_listview_icon_height</key>
	<integer>72</integer>
	<key>friend_listview_cell_height</key>
	<integer>108</integer>
	<key>cell_height_100</key>
	<integer>100</integer>
	<key>space_40</key>
	<integer>40</integer>
	<key>dimen_640</key>
	<integer>768</integer>
	<key>dimen_958</key>
	<integer>958</integer>
	<key>dimen_400</key>
	<integer>400</integer>
	<key>space_20</key>
	<integer>20</integer>
	<key>space_54</key>
	<integer>54</integer>
	<key>space_60</key>
	<integer>60</integer>
	<key>landscape_iphone0_ipad64</key>
	<integer>64</integer>
	<key>dimen_48</key>
	<integer>48</integer>
	<key>dimen_76</key>
	<integer>76</integer>
	<key>dimen_448</key>
	<integer>448</integer>
	<key>dimen_486</key>
	<integer>486</integer>
	<key>dimen_240</key>
	<integer>240</integer>
	<key>dimen_520</key>
	<integer>260</integer>
	<key>dimen_170</key>
	<integer>170</integer>
	<key>space_58</key>
	<integer>58</integer>
	<key>space_84</key>
	<integer>84</integer>
	<key>space_44</key>
	<integer>44</integer>
	<key>space_26</key>
	<integer>26</integer>
	<key>space_24</key>
	<integer>24</integer>
	<key>cell_height_144</key>
	<integer>144</integer>
	<key>cell_horizontal_space_16</key>
	<integer>16</integer>
	<key>cell_vertical_space_18</key>
	<integer>18</integer>
	<key>cell_horizontal_space_20</key>
	<integer>20</integer>
	<key>cell_horizontal_space_24</key>
	<integer>24</integer>
	<key>cell_horizontal_space_12</key>
	<integer>12</integer>
	<key>cell_vertical_space_12</key>
	<integer>12</integer>
	<key>cell_vertical_space_16</key>
	<integer>16</integer>
	<key>cell_vertical_space_20</key>
	<integer>20</integer>
	<key>cell_vertical_space_10</key>
	<integer>10</integer>
	<key>cell_select_prompt_width</key>
	<integer>140</integer>
	<key>cell_select_round_width_28</key>
	<integer>28</integer>
	<key>cell_headIcon_width_76</key>
	<integer>76</integer>
	<key>cell_headIcon_width_80</key>
	<integer>80</integer>
	<key>cell_headIcon_width_60</key>
	<integer>60</integer>
	<key>cell_headIcon_width_88</key>
	<integer>88</integer>
	<key>cell_headIcon_width_96</key>
	<integer>96</integer>
	<key>bottom_send_bg_height_74</key>
	<integer>74</integer>
	<key>bottom_send_btn_height_62</key>
	<integer>62</integer>
	<key>bottom_send_btn_width_368</key>
	<integer>368</integer>
	<key>chat_chat_cell_time_height</key>
	<integer>40</integer>
	<key>chat_friends_time_width</key>
	<integer>400</integer>
	<key>chat_bubble_width</key>
	<integer>400</integer>
	<key>chat_bubble_space_width</key>
	<integer>15</integer>
	<key>chat_bubble_space_width_1</key>
	<integer>10</integer>
	<key>chat_input_bar_space_height</key>
	<integer>10</integer>
	<key>chat_input_bar_height</key>
	<integer>80</integer>
	<key>black_users_cell_height</key>
	<integer>90</integer>
	<key>frined_listview_cell_space_V</key>
	<integer>20</integer>
	<key>frined_listview_cell_space_H</key>
	<integer>18</integer>
	<key>friend_enterance_corp_v_center</key>
	<integer>450</integer>
	<key>friend_request_cell_spacing_width</key>
	<integer>15</integer>
	<key>friend_request_cell_spacing_height</key>
	<integer>15</integer>
	<key>friend_request_cell_headW</key>
	<integer>100</integer>
	<key>section_height_38</key>
	<integer>38</integer>
	<key>friend_import_image_space</key>
	<integer>12</integer>
	<key>friend_import_search_height</key>
	<integer>45</integer>
	<key>blackusers_cell_btn_width</key>
	<integer>142</integer>
	<key>blackusers_cell_btn_height</key>
	<integer>52</integer>
	<key>leaderBoard_main_title_spaceH</key>
	<integer>70</integer>
	<key>leaderBoard_main_button_left_space</key>
	<integer>20</integer>
	<key>leaderBoard_rank_cell_rankLabel_spaceH</key>
	<integer>20</integer>
	<key>leaderBoard_rank_cell_rankLabel_spaceV</key>
	<integer>15</integer>
	<key>leaderBoard_rank_cell_nameLabel_width</key>
	<integer>300</integer>
	<key>leaderBoard_invite_section_height</key>
	<integer>30</integer>
	<key>leaderBoard_cell_headButton_width</key>
	<integer>64</integer>
	<key>leaderBoard_cell_headButton_height</key>
	<integer>64</integer>
	<key>leaderBoard_head_icon_cornerRadius</key>
	<integer>30</integer>
	<key>leaderBoard_invite_cell_nameLabel_width</key>
	<integer>300</integer>
	<key>leaderBoard_invite_cell_spaceH</key>
	<integer>10</integer>
	<key>leaderBoard_invite_cell_spaceV</key>
	<integer>15</integer>
	<key>leaderBoard_board_spaceH</key>
	<integer>10</integer>
	<key>leaderBoard_board_spaceV</key>
	<integer>10</integer>
	<key>leaderBoard_borad_cell_height</key>
	<integer>96</integer>
	<key>leaderBoard_board_cell_left_space</key>
	<integer>5</integer>
	<key>leaderBoard_board_cell_vertical_space</key>
	<integer>3</integer>
	<key>leaderBoard_listcell_number</key>
	<integer>20</integer>
	<key>leaderBoard_viewborder_width</key>
	<integer>1</integer>
	<key>leaderBoard_main_pagecontrol_height</key>
	<integer>50</integer>
	<key>leaderBoard_close_btn_offset_x</key>
	<integer>700</integer>
	<key>leaderBoard_close_btn_offset_y</key>
	<integer>0</integer>
	<key>leaderBoard_cornerrRadius</key>
	<integer>10</integer>
	<key>leaderBoard_width</key>
	<integer>700</integer>
	<key>leaderBoard_height</key>
	<integer>540</integer>
	<key>noti_cell_bg_width</key>
	<integer>35</integer>
	<key>noti_cell_bg_height</key>
	<integer>35</integer>
	<key>login_btn_bg_width</key>
	<integer>200</integer>
	<key>login_btn_bg_height</key>
	<integer>52</integer>
	<key>register_btn_bg_width</key>
	<integer>500</integer>
	<key>alert_cancel_btn_width</key>
	<integer>248</integer>
	<key>alert_cancel_btn_height</key>
	<integer>67</integer>
	<key>bg_number_width</key>
	<integer>37</integer>
	<key>bg_number_height</key>
	<integer>42</integer>
	<key>cancel_btn_height</key>
	<integer>53</integer>
	<key>discussion_btn_width</key>
	<integer>139</integer>
	<key>discussion_btn_height</key>
	<integer>61</integer>
	<key>textfield_bg_width</key>
	<integer>475</integer>
	<key>textfield_bg_height</key>
	<integer>70</integer>
	<key>report_btn_bg_width</key>
	<integer>86</integer>
	<key>report_btn_bg_height</key>
	<integer>38</integer>
	<key>popselect_cell_height</key>
	<integer>50</integer>
	<key>spacing_chatWithFrendsTips</key>
	<integer>30</integer>
	<key>distance_above_chatFrendSetting</key>
	<integer>38</integer>
	<key>height_chatFrendSetting</key>
	<integer>82</integer>
	<key>distance_left_chatFrendSetting</key>
	<integer>16</integer>
	<key>distance_above_chatFrendSettingButton</key>
	<integer>40</integer>
	<key>width_chatFrendSettingButton</key>
	<integer>592</integer>
	<key>height_chatFrendSettingButton</key>
	<integer>62</integer>
	<key>blackusers_cell_spacing_width</key>
	<integer>24</integer>
	<key>nav_btn_width</key>
	<integer>96</integer>
	<key>nav_btn_height</key>
	<integer>52</integer>
	<key>nav_backbtn_width</key>
	<integer>16</integer>
	<key>nav_backbtn_height</key>
	<integer>24</integer>
	<key>button_icon_width</key>
	<integer>38</integer>
	<key>button_icon_height</key>
	<integer>38</integer>
	<key>button_icon_xoffset</key>
	<integer>60</integer>
	<key>playwith_title_offset_y</key>
	<integer>154</integer>
	<key>login_game_vertical_space</key>
	<integer>120</integer>
	<key>profile_content_cell_image_width</key>
	<integer>32</integer>
	<key>profile_content_cell_height</key>
	<integer>50</integer>
	<key>login_global_cornerradius</key>
	<integer>4</integer>
	<key>login_global_borderwidth</key>
	<integer>2</integer>
	<key>login_global_contenttop</key>
	<integer>118</integer>
	<key>login_global_contentbottom</key>
	<integer>496</integer>
	<key>login_global_contentwidth</key>
	<integer>476</integer>
	<key>login_global_textfieldheight</key>
	<integer>54</integer>
	<key>login_global_textfieldpadding</key>
	<integer>12</integer>
	<key>login_global_pushbuttonheight</key>
	<integer>62</integer>
	<key>login_global_spacesmallvertical</key>
	<integer>12</integer>
	<key>login_global_spacesmallhorizontal</key>
	<integer>12</integer>
	<key>login_global_spacebighorizontal</key>
	<integer>20</integer>
	<key>login_registerbycell_regionwidth</key>
	<integer>114</integer>
	<key>login_registerbycell_captchbtnwidth</key>
	<integer>176</integer>
	<key>login_regionlist_height</key>
	<integer>386</integer>
	<key>login_regionlist_title_height</key>
	<integer>40</integer>
	<key>login_regionlist_item_height</key>
	<integer>72</integer>
	<key>login_regionlist_cancel_width</key>
	<integer>368</integer>
	<key>login_regionlist_cancel_height</key>
	<integer>62</integer>
	<key>login_recent_big_icon_width</key>
	<integer>180</integer>
	<key>login_recent_big_icon_borderwidth</key>
	<integer>5</integer>
	<key>login_recent_big_icon_nickname_paddingtop</key>
	<integer>20</integer>
	<key>login_recent_mark_width</key>
	<integer>32</integer>
	<key>login_recent_mark_margin</key>
	<integer>10</integer>
	<key>login_global_default_margin</key>
	<integer>25</integer>
	<key>login_global_default_margin_vertical</key>
	<integer>16</integer>
	<key>login_recent_list_cell_icon_width</key>
	<integer>68</integer>
	<key>login_recent_list_cell_check_margin_left</key>
	<integer>35</integer>
	<key>login_recent_list_cell_height</key>
	<integer>100</integer>
	<key>login_recent_list_height</key>
	<integer>299</integer>
	<key>integrationcheckbutton_width</key>
	<integer>330</integer>
	<key>integrationcheckbutton_height</key>
	<integer>56</integer>
	<key>chat_list_cell_height</key>
	<integer>110</integer>
	<key>chat_list_cell_img_top_space</key>
	<integer>15</integer>
	<key>chat_list_cell_title_top_space</key>
	<integer>25</integer>
	<key>chat_list_cell_title_detail_space</key>
	<integer>10</integer>
	<key>chat_list_cell_img_width</key>
	<integer>80</integer>
	<key>chat_list_cell_img_left_space</key>
	<integer>30</integer>
	<key>chat_list_cell_btn_delete_width</key>
	<integer>110</integer>
	<key>chat_list_cell_img_title_space</key>
	<integer>20</integer>
	<key>chat_list_cell_time_space</key>
	<integer>12</integer>
	<key>chat_list_cell_newmsg_count_width</key>
	<integer>32</integer>
	<key>chat_login_text_top_space</key>
	<integer>80</integer>
	<key>chat_login_text_img_space</key>
	<integer>30</integer>
	<key>chat_select_friends_cell_height</key>
	<integer>90</integer>
	<key>chat_select_friends_cell_img_height</key>
	<integer>64</integer>
	<key>chat_select_friends_bottom_top_space</key>
	<integer>25</integer>
	<key>chat_blocklist_cell_height</key>
	<integer>80</integer>
	<key>gift_main_container_width</key>
	<integer>520</integer>
	<key>gift_main_container_height</key>
	<integer>550</integer>
	<key>gift_cell_image_height</key>
	<integer>68</integer>
	<key>gift_cell_image_text_space</key>
	<integer>24</integer>
</dict>
</plist>
