<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>setting</key>
	<array>
		<dict>
			<key>baseinfo</key>
			<string>@string:setting_baseinfo</string>
			<key>title</key>
			<string>@string:setting_baseinfo</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>icon</key>
					<string>defaulthead.png</string>
					<key>title</key>
					<string>@string:setting_avatar</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>@string:nickname</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>8</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>@string:username</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>@string:gender</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>safeinfo</key>
			<string>@string:setting_security</string>
			<key>title</key>
			<string>@string:setting_security</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>3</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>@string:bind_email</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>9</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>@string:bind_phonenumber</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>4</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>@string:password</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>blockinfo</key>
			<string>@string:privacy</string>
			<key>title</key>
			<string>@string:privacy</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>10</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>@string:blocked_list</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>settinginfo</key>
			<string>@string:setting</string>
			<key>title</key>
			<string>@string:setting</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>5</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>@string:setting_receive_new_message</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>7</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>@string:terms_and_privacy</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
